<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - JoinFun 揪團一起Fun</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <link href="~/Content/hover-min.css" rel="stylesheet" />
    @RenderSection("memberinfo", required: false)
    <style>
        body {
            font-family: 微軟正黑體;
        }

        .navbar-light a {
            color: orangered !important;
            /*color: white !important;*/

        }
        
        .nav-bg {
             background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
        }
        .dropdown-menu li:hover .sub-menu {visibility: visible;}
        .dropdown:hover .dropdown-menu {display: block;}
    </style>
   

</head>
<body>
    <div id="a" class="navbar navbar-expand-lg fixed-top navbar-light bg-dark justify-content-end nav-bg">
        <div class="container ">
            @Html.ActionLink("JoinFun", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navlist" aria-controls="navlist" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navlist">
                <ul class="navbar-nav mr-1 ml-auto mt-2 mt-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link " href="#">登入 <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            會員中心
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="@Url.Action("Info","Member")">個人資訊</a>
                            <a class="dropdown-item" href="#">新增會員評價</a>
                            <a class="dropdown-item" href="#">登出</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">設定</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - JF Ltd.</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>