<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - JoinFun 揪團一起Fun</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @*<script src="~/Scripts/popper.min.js"></script>*@
    @*<script src="~/Scripts/bootstrap.bundle.min.js"></script>*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <link href="~/Content/hover-min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("memberinfo", required: false)
    @RenderSection("memberRemarks", required: false)
    @RenderSection("Detail", required: false)
    @RenderSection("indexcss", required: false)

    <link rel="stylesheet" href="myProjects/webProject/icofont/css/icofont.min.css">
    @RenderSection("topCSS", required:false)

    <style>
        .dropdown-item.active, .dropdown-item:active {
            text-decoration: none;
            background-color: #EEE8AA;
        }

        body {
            font-family: 微軟正黑體;
            margin-bottom: 0;
            padding-bottom:0;
        }

        .navbar-light a {
            color: orangered !important;
            /*color: white !important;*/
        }

        .nav-bg {
            background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
        }

        .foot-bg {
            background-color: bisque;
            color: brown;
        }

        .dropdown-menu li:hover .sub-menu {
            visibility: visible;
        }

        .dropdown:hover .dropdown-menu {
            display: block
        }

        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .containerMinH {
            min-height: 1200px
        }

        @@media (min-width: 576px) {
            .container {
                /*max-width: 540px;*/
                max-width: 660px;
            }
        }

        @@media (min-width: 768px) {
            .container {
                /*max-width: 720px;*/
                max-width: 800px;
            }
        }

        @@media (min-width: 992px) {
            .container {
                /*max-width: 960px;*/
                max-width: 1200px;
            }
        }

        @@media (min-width: 1200px) {
            .container {
                /*max-width: 1140px;*/
                max-width: 1500px;
            }
        }

        .containerbody {
            min-height: 400px;
        }
        /*調整Scrollbar*/
        .hvr-underline-from-center:before {
            background: #ff6a00;
        }

        ::-webkit-scrollbar {
            width: 13px;
            border-radius: 8px;
        }

            ::-webkit-scrollbar:hover {
                box-shadow: 0 0 10px rgba(255, 255, 255,0.5);
            }

        ::-webkit-scrollbar-track {
            /*background-color: rgba(255, 255, 255, 0.7);*/
            border-radius: 8px;
        }

        ::-webkit-scrollbar-thumb {
            background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
            border-radius: 8px;
        }
        /*/////*/
        .footer-content {
            height: 60px;
            line-height: 60px;
        }

        #search::-webkit-input-placeholder {
            color: rgb(23, 162, 184);
            text-align:center;
            font-size:1rem!important;
        }
        #search {
            font-size:1rem!important;
        }
    </style>


</head>
<body>
    <div id="a" class="navbar navbar-expand-lg fixed-top navbar-light justify-content-end nav-bg">
        <div class="container ">
            <a href="@Url.Action("Index","Activity")" class="navbar-brand hvr-underline-from-center font-weight-bold"><img src="~/Photos/img.png" style="width:130px" />    JoinFun</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav mr-1 ml-auto mt-2 mt-lg-0 ">
                    <li class="nav-item ">
                        <div class="form-group  mb-0">
                            <form action="@Url.Action("Search","Member")" method="get" class="form-inline">
                                <input id="search" name="search" type="text" placeholder="搜尋會員編號或暱稱" class="form-control ml-auto" />
                                <button type="submit" id="postSearch" class="btn btn-info mr-auto material-icons" style="color:white!important">search</button>
                            </form>
                        </div>
                    </li>
                    <li class="nav-item text-center ml-2">
                        <a class="nav-link hvr-underline-from-center" href="@Url.Action("Login","Login")"><i class="fas fa-sign-in-alt"></i> 登入</a>
                    </li>
                    @if (Session["memid"] != null)
                    {
                        <li class="nav-item text-center">
                            <input id="mid" type="hidden" value="@Session["memid"].ToString()" />
                            <a class="nav-link hvr-underline-from-center" href="@Url.Action("Messages","Activity",new { memID=Session["memid"] })">我的訊息<span class="badge badge-light number"></span></a>
                        </li>
                    }
                    <li class="nav-item text-center ml-2">
                        <a class="nav-link hvr-underline-from-center" href="@Url.Action("Create","Activity")"><i class="fas fa-plus"></i> 我要揪團</a>
                    </li>
                    <li class="nav-item dropdown text-center ml-2">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-users"></i> 會員中心
                        </a>
                        <div class="dropdown-menu nav-bg border-0 text-center" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="@Url.Action("Info","Member",new { memID=Session["memid"] })"><i class="far fa-id-card"></i>　 我的資訊</a>
                            <a class="dropdown-item" href="@Url.Action("MyActivities","Member",new { memID = Session["memid"] })"><i class="fas fa-glass-cheers"></i>　 我的揪團</a>
                            <a class="dropdown-item" href="@Url.Action("FriendManagement","Member",new{memID=Session["memid"]})"><i class="fas fa-user-friends"></i>　 好友管理</a>
                            <a class="dropdown-item " href="@Url.Action("BlockManage","Member",new { memID=Session["memid"]})"><i class="fas fa-user-lock"></i>　黑名單管理</a>
                            <a class="dropdown-item" href="@Url.Action("Logout","Login")"><i class="fas fa-sign-out-alt"></i>　登出</a>
                        </div>
                    </li>
                    <li class="nav-item">

                    </li>

                </ul>
            </div>

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer style="position:relative;bottom:0;height:60px;line-height:60px" class="w-100 mt-3 mb-0 foot-bg border-danger">
        <div class="text-center">
            <img src="~/Photos/title2.png" style="width:200px" />&copy; @DateTime.Now.Year - JF Ltd.
        </div>
    </footer>

    <p class="text-center text-white mb-0">Copyright © <span id="y"></span> KPPTR WDA</p>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("work", required: false)
    @RenderSection("scripts", required: false)
    @RenderSection("indexscript", required: false)
    <script>
        //取得未讀訊息數量
        $(document).ready(function () {
                $.ajax({
                    url: "@Url.Action("GetMStatus","Activity")",
                    method: "post",
                    traditional: true,
                    data: { id: $('#mid').val() },
                    success: function (count) {
                        if (count == 0)
                            $('.number').text("");
                        else
                            $('.number').text(count);
                    }
              });
        });
    </script>
</body>
</html>