@model JoinFun.Models.Member

@{
    ViewBag.Title = "ForgetPwd";
}


<div class="container" style="width:700px ;height:770px">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h3 class="mt-5">忘記密碼</h3>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*@Html.HiddenFor(model => model.memId)*@

            <div class="form-group">
                @Html.LabelFor(model => model.Acc_Pass.FirstOrDefault().Account, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Acc_Pass.FirstOrDefault().Account, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Acc_Pass.FirstOrDefault().Account, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 ">
                <h5 class="text-danger">@ViewBag.ForgetPwd@ViewBag.ForgetPwdErr</h5>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="繼續" class="btn btn-primary" />
                    <h4>請輸入當時您加入會員使用的〔E-mail帳號〕，系統會自動傳一封確認信至您的信箱，請再到您的信箱中連結到重置密碼頁面。</h4>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("返回會員登入", "Login", "Login")
    </div>
</div>
