@model JoinFun.Models.Member

@{
    ViewBag.Title = "ForgetPwd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Login{


    <link href="~/CSS/Login.css" rel="stylesheet" />

}
<div style="min-height:100vh">
    <div class="row justify-content-center ForgetPwd-box ml-1 ">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <h3 class="mt-2 text-center ">忘記密碼</h3>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*@Html.HiddenFor(model => model.memId)*@

            <div class="form-group ">
                @Html.LabelFor(model => model.Acc_Pass.FirstOrDefault().Account, htmlAttributes: new { @class = "control-label col-md-8 offset-2" })

                @Html.EditorFor(model => model.Acc_Pass.FirstOrDefault().Account, new { htmlAttributes = new { @class = "form-control col-md-8 offset-2" } })
                @Html.ValidationMessageFor(model => model.Acc_Pass.FirstOrDefault().Account, "", new { @style = "color:#ffb0b7", @class = "col-md-8 offset-2" })

            </div>



            <div class="form-group ">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-8 offset-2" })

                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control col-md-8 offset-2" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @style = "color:#ffb0b7", @class = "col-md-8 offset-2" })

            </div>


            <div class="form-group ">

                <h5 class="text-success col-md-12 offset-4" style="color:#a8ffbb!important">@ViewBag.ForgetPwd </h5>
                <h5 style="color:#ffb0b7" class="col-md-12 offset-2">@ViewBag.ForgetPwdErr</h5>

            </div>
       

            
                <div class="form-group ">
                    
                        <input type="submit" value="繼續" class="btn btn-primary col-md-8 offset-2 " />

                 
                </div>
            

            <div class="form-group">
                

                    <h5 class=" mt-4 col-md-8 offset-md-2  col-sm-12 offset-sm-5 text-center">請輸入當時您加入會員使用的〔E-mail帳號〕，系統會自動傳一封確認信至您的信箱，請再到您的信箱中連結到重置密碼頁面。</h5>
               
            </div>

        }

        @*<div>
            @Html.ActionLink("返回會員登入", "Login", "Login", new { @class = "text-white" })
        </div>*@
    </div>
</div>