@model JoinFun.Models.Acc_Pass

@{
    ViewBag.Title = "修改密碼";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Register{
    
    <link href="~/CSS/Register .css" rel="stylesheet" />
}

<div class="container mt-5  " style="min-height: 100vh">

    <div class="row justify-content-center pwdEdit-box ml-1">
        <div class="col-md-12">
            <h2 class="text-center mt-5">修改密碼</h2>
        </div>

        @using (Html.BeginForm(new { id = "pwdEdit" }))
        {

            @Html.AntiForgeryToken()

            <div class="form-horizontal">


                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                @*@Html.HiddenFor(model => model.Account)*@
                <div class="row mt-2">
                    <div class=" col col-md-12 ">
                        <div class=" form-group ">

                            @*@Html.LabelFor(model => model.memId, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <span class="control-label  mr-2  ">會員編號</span>
                            @*<input id="memId" name="memId" type="text" class="form-control" value="@Model.memId" readonly />*@
                            @Html.EditorFor(model => model.memId, new { htmlAttributes = new { @class = "form-control mr-auto ", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.memId, "", new { @class = "text-danger" })

                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class=" col col-md-12 ">
                        <div class=" form-group ">
                            @Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "control-label   mr-2" })
                            @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control  mr-auto", @readonly = "readonly", @Value = Session["Account"] } })
                            @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
                            <span></span>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class=" col col-md-12 ">
                        <div class=" form-group ">

                            <span class="control-label   mr-2  ">舊密碼&nbsp;&nbsp;&nbsp;</span>

                            <input id="OldPassword" name="OldPassword" type="password" class="form-control mr-auto" />
                            <span class=" text-center " style="color:#ff9cb3">@ViewBag.PwdEditErr</span>
                        </div>
                    </div>
                </div>



                <div class="row mt-3">
                    <div class=" col col-md-12 ">
                        <div class=" form-group ">
                            <span class="control-label   mr-2 ">新密碼&nbsp;&nbsp;&nbsp;</span>
                            @*@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control  ", type = "password", id = "Password", placeholder = "英文字、數字最少8字" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
                            <input id="Password" name="Password" type="password" class="form-control d-inline" />
                            <div></div>

                        </div>

                    </div>
                </div>



                <div class="row  mt-3 ">
                    <div class=" col col-md-12 ">
                        <div class=" form-group ">
                            <span class="control-label   mr-2  ">確認密碼</span>
                            @*@Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { @class = "form-control ", type = "password", id = "PasswordConfirm" } })
                                @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })*@
                            <input id="PasswordConfirm" name="PasswordConfirm" type="password" class="form-control d-inline " onkeyup="checkPwd()" required />
                            <div></div>

                        </div>
                    </div>
                </div>



                <div class="row  mt-3 ">
                    <div class=" col col-md-11 offset-2">

                        @*<h4 class=" text-center mr-5  mt-2" style="color:#ff9cb3">@ViewBag.PwdEditErr</h4>*@
                        <input type="submit" value="儲存" class="btn btn-success  w-75 mt-3" />

                        @*@Html.ActionLink("返回我的資訊", "Info", "Member", new { @class = "btn btn-outline-info  w-75 mt-3" ,style="font-weight:bold"})*@
                    </div>


                </div>
            </div>

        }

    </div>
</div>



<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@section scripts{
    <script>
        //var flag = false;

        //$("form").submit(function () {

        //    if ($('#OldPassword').val() == "") {
        //        $('#OldPassword').addClass("is-invalid");
        //        $('#OldPassword~div').addClass("invalid-feedback").text('請輸舊密碼!');
        //        flag = false;
        //    }


        //    if ($('#Password').val() == "") {
        //        $('#Password').addClass("is-invalid");
        //        $('#Password~div').addClass("invalid-feedback").text('請輸入新密碼!');

        //        flag = false;
        //    }



        //    if ($('#PasswordConfirm').val() == "") {
        //        $('#PasswordConfirm').addClass("is-invalid");
        //        $('#PasswordConfirm~div').addClass("invalid-feedback").text('請再次確認密碼');

        //        flag = false;
        //    }



        //    if (!flag)
        //        return false;

        //    return true;
        //});





        //$('#Password').keyup(function () {
        //    if ($('#Password').val() != "") {
        //        clearErrText('#Password');

        //    }
        //});

        //$('#PasswordConfirm').keyup(function () {
        //    if ($('#PasswordConfirm').val() != "") {
        //        clearErrText('#PasswordConfirm');

        //    }
        //});




        //function clearErrText(id) {
        //    $(id).removeClass('is-invalid').addClass('is-valid');
        //    $(id + '~div').removeClass('invalid-feedback').addClass('valid-feedback').text('');
        //    flag = true;
        //}











        //$(document).ready(function () {
        //    $('#pwdEdit').on('submit', function (e) {
        //        e.preventDefault();
        //        alert("修改密碼成功");
        //    });
        //});


        //$(document).ready(function () {
        //    $("form").submit(function () {
        //        alert("Submitted");
        //    });
        //});


        //$(function () {
        //    $("input:submit").click(function () {
        //        //alert範例
        //        swal("已修改完密碼", "請至登入密碼", "success");

        //    });
        //});

    </script>

    <script>
        //未填警告

        $('form').submit(function () {

            if ($('#Password').val() == "") {
                $('#Password~div').text('請輸入新密碼!').css("color", "#ff9cb3");
                return false;
            }
            else {
                $('#Password').keyup(function () {
                    if ($('#Password').val() != "") {
                        $('#Password~div').text("");
                    }
                });
            }

        });



        //比對新密碼
        function checkPwd() {
            var passNew = document.getElementById("Password").value;
            var passwordConfirm = document.getElementById("PasswordConfirm").value;

            if (passNew != passwordConfirm) {
                $('#errMessage').show();
                if (!$('#errMessage').length)
                    $('<div id="errMessage" style="color:#ff9cb3">新密碼和確認密碼不一致</div >').insertAfter("#PasswordConfirm");

            }
            else {
                $('#errMessage').hide();
            }
        }

        //新密碼字數
        $('#Password').keyup(function () {
            if ($('#Password').val().length < 8) {
                $('#Password~div').text("最少8字元").css("color", "#ff9cb3");
            }
            else {
                $('#Password~div').hide();
            }

        });


        //$(document).ready(function () {
        //    $("form").submit(function () {
        //        alert("密碼修改成功");
        //    });
        //    $('input[type="submit"]').click(function () {
        //        $("form").submit();
        //    });
        //});

    </script>
}