@model JoinFun.Models.Acc_Pass

@{
    ViewBag.Title = "RemakePwd";
}


<div class="container">
    <div class="col-md-8 offset-2">

        @using (Html.BeginForm("RemakePwd","Register",FormMethod.Post))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 class="mt-5">重置密碼</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
        <input id="email_ID" type="hidden"  value="@ViewBag.emailid" name="email_ID"/>



            <div class="form-group">

                @Html.LabelFor(model => model.Password, "新密碼", htmlAttributes: new { @class = "control-label col-md-4" })

                <div class="col-md-8">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">

                @Html.LabelFor(model => model.PasswordConfirm, htmlAttributes: new { @class = "control-label col-md-4" })
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })
            </div>

        </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>

        }

        <div>
            @*@Html.ActionLink("返回會員登入", "Login", "Login")*@
        </div>
    </div>
</div>
