@using JoinFun.Models;
@{
    JoinFunEntities db = new JoinFunEntities();
    var chat = (IEnumerable<Chat_Records>)ViewBag.chat;
}


<input id="roomID" type="hidden" value=@((Int32)TempData["roomID"]) />
@using (Ajax.BeginForm("_chat", new { fromMemID = Request.QueryString["fromMemID"] }, new AjaxOptions { UpdateTargetId = "ajaxUpdate", HttpMethod = "Get" }))
{
    <div id="ajaxUpdate">
        <div class="overflow-auto border borderStyle mt-3" style="max-height:55vh;min-height:40vh;border-radius:10px" id="messageArea">
            @if (ViewBag.chat != null)
            {

                foreach (var item in chat)
                {
                    <div class="card mb-2 border-0 mx-auto">
                        @if (item.FromMemId == Request.QueryString["fromMemID"])
                        {
                            <div class="card-body">
                                <div class="text-info font-weight-bold rounded-circle" style="font-size:1.5rem;width:50px;height:50px;background-color:#c4e1e1;line-height:50px;padding-left:0.75rem">@item.Member.memNick.Substring(0, 1)</div>
                                <p class="m-1 ml-5">
                                    <span class="text-white p-2 pt-0 bubble2">@Html.DisplayFor(modelItem => item.chatContent)</span>
                                    <span class="ml-2 text-secondary timestyle">@item.Time.ToString("MM-dd HH:mm", System.Globalization.CultureInfo.InvariantCulture)</span>
                                </p>
                            </div>
                        }
                        else
                        {
                            <div class="card-body text-right">
                                <span class="timestyle mr-2 text-secondary">@item.Time.ToString("MM-dd HH:mm", System.Globalization.CultureInfo.InvariantCulture)</span>
                                <span class="bubble text-white p-2 text-left">@Html.DisplayFor(modelItem => item.chatContent)</span>
                            </div>
                        }
                    </div>
                }

            }

        </div>
        <div class="row mt-2">
            <div class="col-12 ">
                <div class="input-group justify-content-md-end  justify-content-center ">
                    <input id="messageContent" type="text" class="form-control" placeholder="輸入訊息" aria-label="輸入訊息" aria-describedby="basic-addon2" style="min-width:80%">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="sendMessage">送出</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}