@using X.PagedList;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Common;
@using X.PagedList.Mvc.Bootstrap4;
@model X.PagedList.PagedList<JoinFun.Models.Post>


@if (ViewBag.PostCount > 0)
{
    if (ViewBag.PostCount == 1)
    {
        //瀏覽詳細公告
        foreach (var i in Model)
        {
            <div class="container ">
                <div class="row ">
                    <div class="col col-12">
                        <div class="w-100 border-top border-bottom border-white font-weight-bold text-white mb-5 mt-5 p-2" style="height:50px;">
                            <div class="row">
                                <div class="col col-6 text-wrap text-left" style="font-size:1.5rem;font-weight:900">
                                    @i.postTitle
                                </div>
                                <div class="col col-6 text-right text-secondary" style="font-size:1.1rem">
                                    @i.postTime.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture)
                                </div>
                            </div>
                        </div>
                        <div class="mx-auto" style="width:400px;height:400px;">
                            <img src="~/Photos/Posts/@i.postPics" class="img-fluid" style="max-height:400px;min-width:400px;min-height:300px"/>
                        </div>
                        <div class="text-white d-block my-5 overflow-auto px-5" style="min-height:200px;max-height:200px">
                            <div class="admFont">
                                @Html.Raw(i.postContent.Replace("\n", "<br>"))
                            </div>
                        </div>
                    </div>
                    <div class="col-12 my-5 text-center" style="min-height:200px">

                        <a class="btn btn-info" href="@Url.Action("Post","Adm")"><i class="fas fa-chevron-circle-left"></i>　回公告列表</a>
                        @if (ViewBag.previous != null)
                        {
                            <a class="btn btn-info ml-3" href="@Url.Action("Post","Adm",new { PostNo=ViewBag.previous})"><i class="fas fa-chevron-left"></i>　上一則公告</a>
                        }
                        @if (ViewBag.next != null)
                        {
                            <a class="btn btn-info ml-3" href="@Url.Action("Post","Adm",new { PostNo=ViewBag.next})"><i class="fas fa-chevron-right"></i>　下一則公告</a>
                        }
                        <a class="btn btn-success ml-5" href="@Url.Action("PostEdit","Adm",new { PostNo =i.postSerial})"><i class="fas fa-edit"></i>　編輯公告</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {

        <h2 class="text-center font-weight-bold my-3 text-warning">公告管理</h2>
        <div class="row text-white mb-3 pl-5">
            <div class="col-2 font-weight-bold">
                <a class="btn btn-info" href="@Url.Action("PostCreate","Adm")" style="font-size:1.1rem;"><i class="fas fa-plus icon-size"></i>　新增公告</a>
            </div>
        </div>
        @*查看指定筆數公告*@
        <div class="table-responsive overflow-auto" style="min-height:780px">
            <table class="table table-dark table-hover table-striped ">
                <thead>
                    <tr class="text-center text-white border-bottom border-white">
                        <th scope="col" class="text-white-50" style="width:15vw">編號</th>
                        <th scope="col" style="width:40vw">標題</th>
                        <th scope="col" style="width:15vw">日期</th>
                        <th scope="col">管理</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model)
                    {
                        <tr class="text-center text-white" style="font-family:微軟正黑體;">
                            <td scope="row" class="text-white-50">@i.postSerial</td>
                            <td>@i.postTitle</td>
                            <td>@i.postTime.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture)</td>
                            <td><a href="@Url.Action("Post","Adm",new { PostNo = i.postSerial })"><span class="btn btn-success"><i class="fas fa-search"></i></span></a>　<a href="@Url.Action("PostEdit","Adm",new { PostNo = i.postSerial })"><span class="btn btn-info"><i class="fas fa-edit"></i></span></a>　<a href="@Url.Action("PostDelete","Adm",new { PostNo = i.postSerial })" onclick="return confirm('您確定要刪除公告嗎？')"><span class="btn btn-danger"><i class="far fa-trash-alt"></i></span></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="w-100 text-center" style="padding-left:42%">@Html.PagedListPager(Model, page => Url.Action("Post", new { page }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)</div>

    }
}
else
{
    <h1 class="border-top border-bottom border-danger">目前無最新公告</h1>
}
