@model JoinFun.Models.Administrator

@{
    ViewBag.Title = "AdmRegister";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@*<h2>AdmRegister</h2>*@

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal text-white">
            <h4>管理員註冊</h4>
            <hr />
            <input id="admId" type="hidden" name="admId"/>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.LabelFor(model => model.admAcc, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.admAcc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.admAcc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.admNick, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.admNick, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.admNick, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.admPass, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.admPass, new { htmlAttributes = new { @class = "form-control", type = "password" ,id="admPass"} })
                    @Html.ValidationMessageFor(model => model.admPass, "", new { @class = "text-danger" })
                </div>
                <div></div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.admPasswordConfirm, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.admPasswordConfirm, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                    @Html.ValidationMessageFor(model => model.admPasswordConfirm, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="送出資料" class="btn btn-info" />
                </div>
            </div>
        </div>
    }*@
<div class="container h-100 ">
    <div class="row h-100 justify-content-center ">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class=" text-white">
                <h4 class="mt-5">管理員註冊</h4>
                <hr />
                <input id="admId" type="hidden" name="admId" />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    @Html.LabelFor(model => model.admAcc, htmlAttributes: new { @class = "control-label " })

                    @Html.EditorFor(model => model.admAcc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.admAcc, "", new { @class = "text-danger" })
                    <div></div>
                    <div id="prompt"></div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.admNick, htmlAttributes: new { @class = "control-label " })

                    @Html.EditorFor(model => model.admNick, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.admNick, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.admPass, htmlAttributes: new { @class = "control-label " })

                    @Html.EditorFor(model => model.admPass, new { htmlAttributes = new { @class = "form-control", type = "password", id = "admPass" } })
                    @Html.ValidationMessageFor(model => model.admPass, "", new { @class = "text-danger" })

                    <div></div>
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.admPasswordConfirm, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.admPasswordConfirm, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                    @Html.ValidationMessageFor(model => model.admPasswordConfirm, "", new { @class = "text-danger" })

                </div>

                <div class="form-group mt-4">

                    <input type="submit" value="送出資料" class="btn btn-info w-100" />

                </div>
            </div>
        }
    </div>
</div>
@section scripts{
    <script>


        //密碼限制字數
        $('#admPass').keyup(function () {
            if ($('#admPass').val().length < 8) {
                $('#admPass~div').text("最少8字元").css("color", "#ff9cb3");
            }
            else {
                $('#admPass~div').hide();
            }

        });
        

        //帳號是否重複
        $('#admAcc').keyup(function () {
            if ($.trim($('#admAcc').val()).length!=0) {
            //if ($('#Account').val() != "") {
                $.ajax({
                    type: "Get",
                    //url: "http://10.10.3.105/api/AdmAPI",
                    url: "http://localhost:54129/api/AdmAPI",
                    success: function (data) {
                        console.log(data[0]);
                        var str = $('#admAcc').val();
                        var i = 0;
                        while (i < data.length) {
                            var n = str.search(data[i]);
                            if (n != -1) {
                                console.log("帳號重複");
                                $('#prompt').text("帳號重複").css({"color": "#f36868","display":"initial"});
                                break;
                            } else {
                                i++;
                                //document.getElementById("demo").innerHTML = n;
                                //console.log(i);
                            }
                        }

                        if (i == data.length) {
                            console.log("驗證成功");

                            $('#prompt').text("此帳號可使用").css({"color": "#a6efa6","display":"initial"});
                        }

                    }

                });
            }
            else {

                $('#prompt').hide();
                $('#prompt').text("");
            }

        });


         //未填帳號警告
        $('form').submit(function () {

            if ($('#admAcc').val() == "") {
                $('#admAcc~div').text('請輸入帳號!').css("color", "#f36868");
                return false;
            }
            else {
                $('#admAcc').keyup(function () {
                    if ($('#admAcc').val() != "") {
                        $('#admAcc~div').text("");
                    }
                });
            }

        });

    </script>


}
