@model JoinFun.ViewModel.MemberInquireVM

@{
    ViewBag.Title = "違規編輯";
}

<h2 class="text-info">違規編號 @ViewBag.vioId</h2>



@foreach (var i in Model.Violation)
{@*<input id="F_punid" type="hidden" name="F_punid" vlaue="@i.punishId" />*@
    <div class="container">
        <div class="form-horizontal">
            <hr />
            <h4 class="text-warning">原先變更前</h4>
            <div class="border">

                <table class="table">
                    <thead class="text-white w-50">
                        <tr>
                            <th scope="col">處置方式</th>
                            <th scope="col">處理人員</th>
                            <th scope="col">是否停權</th>
                        </tr>
                    </thead>
                    <tbody class="text-white">
                        <tr>
                            <td>@Html.DisplayFor(modelItem => i.Punishment.punishName)</td>
                            <td>@Html.DisplayFor(modelItem => i.Administrator.admNick)</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-horizontal">
            <hr />
            <h4 class="text-warning">請在以下框內選擇需變更之動作</h4>
            <div class="border">
                <input id="oldvalue" type="hidden" name="oldvalue" value="@ViewBag.oldpunid"/>

                <table class="table">
                    <thead class="text-white w-50">
                        <tr>
                            <th scope="col">處置方式</th>
                            <th scope="col">處理人員</th>
                            <th scope="col">是否停權</th>
                        </tr>

                    </thead>
                    <tbody class="text-white">
                        <tr>
                            <td>
                                <div class="col col-md-10 text-white">
                                    @foreach (var item in Model.punishment)
                                    {
                                        <label class="checkLabel">
                                            @item.punishName
                                            <input id="punId" type="radio" name="punId" value="@item.punishId" />
                                            <span class="checkmark">&emsp;</span>
                                        </label>
                                    }
                                </div>
                            </td>
                            <td>
                                @Session["admNick"]
                            </td>


                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="center col-md-10">
            <input type="submit" value="儲存" class="btn btn-success" />
        </div>
    </div>


}

@section topCSS{
    <link href="~/Content/ButtonStyle.css" rel="stylesheet" />
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#oldvalue').val()=$('#F_punid').val();
        })
        
    </script>
}
