@model JoinFun.Models.Post

@{
    ViewBag.Title = "新增公告";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var select = (SelectListItem)ViewBag.admDropdown;
}
@section admCSS{
    <link href="~/CSS/SwitchButton.css" rel="stylesheet" />
}
<h2 class="text-white text-center my-3">新增公告</h2>
<div class="container overflow-auto">
    @using (Html.BeginForm("PostCreate", "Adm", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="text-white ">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.postSerial)
            @*<div class="form-group">
                    @Html.LabelFor(model => model.postSerial, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.postSerial, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.postSerial, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            <div class="row ">
                <div class="col col-12 text-center ">
                    <div class="container">
                        <div class="bg-transparent" id="frontPic">
                            <img id="uploadMain" src="~/Assets/pages/images/main.jpg" class="img-fluid col-md-10 pl-0 w-75" style="max-height:360px;max-width:1200px" />
                        </div>
                        <input style="display:none" type="file" name="postPics" id="picture" />
                    </div>
                </div>

                <div class="col col-12 mt-4">
                    <div class="row px-3">

                        @Html.LabelFor(model => model.admId, htmlAttributes: new { @class = "control-label col-2 adm-editFont" })
                        @Html.EditorFor(model => model.admId, new { htmlAttributes = new { @class = "form-control text-center col-2 adm-editFont", @readonly = "readonly", @Value = ViewBag.admNick } })
                        @Html.ValidationMessageFor(model => model.admId, "", new { @class = "text-danger text-center adm-editFont" })

                        @Html.LabelFor(model => model.postTime, htmlAttributes: new { @class = "control-label text-center col-2 adm-editFont" })
                        @Html.EditorFor(model => model.postTime, new { htmlAttributes = new { @class = "form-control text-center col-2 adm-editFont", @readonly = "readonly", @type = "TEXT" } })
                        @Html.ValidationMessageFor(model => model.postTime, "", new { @class = "text-danger text-center adm-editFont" })

                        @Html.LabelFor(model => model.ShowInCarousel, htmlAttributes: new { @class = "control-label text-center col-2 adm-editFont" })
                        @*@Html.EditorFor(model => model.ShowInCarousel, new { htmlAttributes = new { @class = "form-control col-2 adm-editFont" } })
                            @Html.ValidationMessageFor(model => model.ShowInCarousel, "", new { @class = "text-danger adm-editFont" })*@

                        <label class="switch ">
                            <input type="checkbox" class="warning" name="ShowInCarousel" id="ShowInCarousel">
                            <span class="slider round"></span>
                        </label>

                        @Html.LabelFor(model => model.postTitle, htmlAttributes: new { @class = "control-label col-2 mt-4 adm-editFont" })
                        @Html.EditorFor(model => model.postTitle, new { htmlAttributes = new { @class = "form-control text-center col-10 pr-5 mt-4 adm-editFont" } })
                        @Html.ValidationMessageFor(model => model.postTitle, "", new { @class = "text-danger text-center my-1 adm-editFont" })

                    </div>
                </div>
            </div>
            <div class="row mt-4 px-3">
                <div class="col col-3 text-left">
                    @Html.LabelFor(model => model.postContent, htmlAttributes: new { @class = "control-label adm-editFont" })
                </div>
            </div>
            <div class="row px-3">
                @Html.TextAreaFor(model => model.postContent, new { @class = "form-control col-12 adm-editFont", placeholder = "請輸入公告內容", rows = "10", cols = "100", @style = "resize:none" })
                @Html.ValidationMessageFor(model => model.postContent, "", new { @class = "text-danger adm-editFont" })
            </div>
            <div class="form-group">
                <div class="col-12 text-center mt-3 ">
                    <input type="submit" value="新增公告" class="btn btn-success mr-2" />
                    <a class="btn btn-danger mr-3" href="@Url.Action("Post","Adm",new { PostNo = Model.postSerial})"><i class="fas fa-undo-alt"></i>　取消儲存</a>
                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    <script>
        $('#uploadMain').click(function () {
            $('#picture').click();
        });

        //預覽公告圖片
        $('#picture').on("change", function () {
            var file = this.files[0];
            if (this.files && file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#uploadMain').attr("src", e.target.result);
                }
                reader.readAsDataURL(file);
            }
        });

        //更換Switch Button Value
        $('#ShowInCarousel').click(function () {
            $(this).checked = !$(this).checked;
            $(this).val($(this).val() == 1 ? 0 : 1);
        })
    </script>
}

