@model JoinFun.Models.Post

@{
    ViewBag.Title = "編輯公告";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2 class="text-white text-center py-3 sticky-top mr-5">編輯公告－@Model.postSerial</h2>

@using (Html.BeginForm("PostEdit", "Adm", FormMethod.Post, new { @id = "editpost", @enctype = "multipart/form-data" }))
{
<input id="postPics" type="hidden" name="postPics" value="@Model.postPics"/>
    @Html.AntiForgeryToken()
<div class="container" style="max-height:100vh;overflow:scroll">
    <div class="form-horizontal text-white mt-5 mr-5">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.postSerial)

        <div class="row">
            <div class="col col-12 text-center">
                <div class="form-group">
                    <img src="~/Photos/Posts/@Model.postPics" class="img-fluid" style="width:400px;height:400px;" />
                </div>
            </div>
            <div class="col col-12 mt-4">
                <div class="row px-3">
                    
                    @Html.LabelFor(model => model.admId, htmlAttributes: new { @class = "control-label col-2 adm-editFont" })
                    @Html.DropDownList("admId", null, htmlAttributes: new { @class = "form-control text-center col-2 adm-editFont" })
                    @Html.ValidationMessageFor(model => model.admId, "", new { @class = "text-danger text-center adm-editFont" })
          
                    @Html.LabelFor(model => model.postTime, htmlAttributes: new { @class = "control-label text-center col-2 adm-editFont" })
                    @Html.EditorFor(model => model.postTime, new { htmlAttributes = new { @class = "form-control text-center col-2 adm-editFont" ,@readonly="readonly"} })
                    @Html.ValidationMessageFor(model => model.postTime, "", new { @class = "text-danger text-center adm-editFont" })
       
                    @Html.LabelFor(model => model.ShowInCarousel, htmlAttributes: new { @class = "control-label text-center col-2 adm-editFont" })
                    @Html.EditorFor(model => model.ShowInCarousel, new { htmlAttributes = new { @class = "form-control col-2 adm-editFont" } })
                    @Html.ValidationMessageFor(model => model.ShowInCarousel, "", new { @class = "text-danger adm-editFont" })
                
                    @Html.LabelFor(model => model.postTitle, htmlAttributes: new { @class = "control-label col-2 mt-4 adm-editFont" })
                    @Html.EditorFor(model => model.postTitle, new { htmlAttributes = new { @class = "form-control text-center col-10 pr-5 mt-4 adm-editFont" } })
                    @Html.ValidationMessageFor(model => model.postTitle, "", new { @class = "text-danger text-center mt-4 adm-editFont" })
                    
                </div>
            </div>
        </div>
        <div class="row mt-4 px-3">
            <div class="col col-3 text-left">
                @Html.LabelFor(model => model.postContent, htmlAttributes: new { @class = "control-label adm-editFont" })
            </div>
        </div>
        <div class="row px-3">
                @Html.TextArea("postContent", Model.postContent, 10, 100, new { @class = "form-control col-12 adm-editFont" })
                @Html.ValidationMessageFor(model => model.postContent, "", new { @class = "text-danger adm-editFont" })
        </div>

        <div class="form-group mt-4" style="min-height:200px">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-success btn-lg text-white mr-3"><i class="far fa-save"></i>　儲存修改</button>
                <a class="btn btn-danger btn-lg mr-3" href="@Url.Action("Post","Adm",new { PostNo = Model.postSerial})"><i class="fas fa-undo-alt"></i>　取消儲存</a>
                <a class="btn btn-danger btn-lg" href="@Url.Action("PostDelete","Adm",new { PostNo = Model.postSerial})" onclick="return confirm('您確定要刪除公告嗎？')"><i class="far fa-trash-alt"></i>　刪除公告</a>
            </div>
        </div>
    </div>
</div>
}


