@model JoinFun.ViewModel.AdmView

@{
    ViewBag.Title = "違規管理";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2 class="text-warning text-center mt-4 mb-4">違規管理</h2>
<div class="pl-0 pr-0 mb-4" id="sorting">
    <button type="button" class="btn btn-outline-primary" id="sortByReport">依檢舉時間</button>
    <button type="button" class="btn btn-outline-primary" id="sortByAct">依揪團時間</button>
    <button type="button" class="btn btn-outline-primary" id="sortById">依揪團編號</button>
</div>
<div class="row d-none  ml-1" id="byReport">
    <form method="get" action="@Url.Action("SortByReport")" class="col-md-8">
        <label class="row" style="line-height:30pt">
            檢舉時間：<input id="reportStart" name="reportStart" type="datetime-local" class="form-control col-md-3" />　至　<input id="reportEnd" name="reportEnd" type="datetime-local" class="form-control col-md-3" />
            <input id="searchByReport" type="submit" value="搜尋" class="btn btn-warning ml-5" style="height:40px" />
        </label>
    </form>
</div>
<div class="row ml-1" id="byAct">
    <form method="get" action="@Url.Action("SortByAct")" class="col-md-8">
        <label class="row" style="line-height:30pt">
            揪團時間：<input id="actStart" name="actStart" type="datetime-local" class="form-control col-md-3" />　至　<input id="actEnd" name="actEnd" type="datetime-local" class="form-control col-md-3" />
            <input id="searchByAct" type="submit" value="搜尋" class="btn btn-warning ml-5" style="height:40px" />
        </label>
    </form>
</div>
<div class="row d-none ml-1" id="byId">
    <label class="row col-md-8" style="line-height:30pt">
        揪團編號：<input id="actID" name="actID" type="text" class="form-control col-md-3" style="height:40px" />
        <input id="searchById" type="button" value="搜尋" class="btn btn-warning ml-5" style="height:40px" />
    </label>
</div>




<div class="tab-content mt-2">
    <div class="tab-pane fade show active" id="allList">
        <table class="table table-striped table-hover table-responsive-sm">
            <caption>待處理違規列表</caption>
            <thead class="thead-dark text-center">
                <tr>
                    <th scope="col">違規編號</th>
                    <th scope="col">檢舉人</th>
                    <th scope="col">違規類別</th>
                    <th scope="col">違規標題</th>
                    <th scope="col">違規時間</th>
                    <th scope="col">目前狀態</th>
                </tr>
            </thead>
            <tbody class="text-center text-light">
                @if (Model != null)
                {
                    foreach (var i in Model.actList)
                    {
                        foreach (var item in Model.violateList.Where(m=>m.CorrespondingEventID == i.actId))
                        {
                            <tr>
                                <td>
                                    @item.vioId
                                </td>
                                <td>
                                    @if (Model.violateList != null)
                                    {
                                        foreach (var m in Model.memList.Where(x => x.memId == item.FromMemId))
                                        {
                                            @m.memNick
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CorrespondingEventID)
                                </td>
                                <td>
                                    <a href="@Url.Action("ViolationContent", "Adm", new { vioID = item.vioId, eventID = item.CorrespondingEventID, Page = "allList"})">@item.vioTitle</a>
                                    @*@Html.ActionLink(item.vioTitle, "ViolationContent", new { vioID = item.vioId, Page = ViewBag.ID }, new { @class = "btn btn-link" })*@
                                    @*<form method="get" action="@Url.Action("ViolationContent")">
                                <input id="vioID" name="vioID" type="hidden" value="@item.vioId" />
                                <input id="Page" name="Page" type="hidden" value="memList" />
                                <input id="vioContent" type="submit" value="@item.vioTitle" class="btn btn-link" />
                            </form>*@
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.vioReportTime)
                                </td>
                                <td>
                                    @if (item.vioProcessTime != null)
                                    {
                                        @:已處理
                                    }
                                    else
                                    {
                                        @:未處理
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade show" id="sortList">
        <table class="table table-striped table-hover table-responsive-sm">
            <caption>搜尋結果</caption>
            <thead class="thead-dark text-center">
                <tr>
                    <th scope="col">違規編號</th>
                    <th scope="col">檢舉人</th>
                    <th scope="col">違規類別</th>
                    <th scope="col">違規標題</th>
                    <th scope="col">違規時間</th>
                    <th scope="col">目前狀態</th>
                </tr>
            </thead>

        </table>
    </div>
</div>
@section topCSS{
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
}

@section scripts{
    <script>
        $('#sorting button').click(function () {
            switch ($(this).attr('id')) {
                case "sortByReport":
                    $('#byReport').removeClass('d-none');
                    $('#byAct').addClass('d-none');
                    $('#byId').addClass('d-none');
                    break;
                case "sortByAct":
                    $('#byAct').removeClass('d-none');
                    $('#byReport').addClass('d-none');
                    $('#byId').addClass('d-none');
                    break;
                case "sortById":
                    $('#byId').removeClass('d-none');
                    $('#byAct').addClass('d-none');
                    $('#byReport').addClass('d-none');
                    break;
            };
        });

        $('#searchById').click(function () {
            console.log($('#actID').val());
            $.ajax({
                url: "@Url.Action("SortById","Adm")",
                type: "post",
                data: { actID: $('#actID').val() },
                dataType: "Json",
                success: function (data) {
                    console.log(data);
                    $('#allList').removeClass('active');
                    $('#sortList').addClass('active');
                    $('#sortList table').append(`<tbody class="text-center text-light"><td>${data.id}</td><td>${data.name}</td><td>${data.type}</td><td><a href='/Adm/ViolationContent?vioID=${data.id}&eventID=${data.type}&Page=allList'>${data.title}</a></td><td>${$.format.toBrowserTimeZone((new Date(parseInt(data.vioTime.replace("/Date(", "").replace(")/", ""), 10))))}</td> <td>${data.condition}</td></tbody >`);
                    $('#actID').val("");
                },
                error: function () {
                    alert("搜尋失敗");
                }
            });
        });
    </script>
}