@model JoinFun.Models.Acc_Pass

@{
    ViewBag.Title = "登入";
}
@section memberinfo{
    <link href="~/CSS/Register.css" rel="stylesheet" />
}

<div class="container " style="height:820px;width:400px">
    <div class="bg-morandi rounded" style="height:500px;width:400px">
        <h2 class="mt-5 text-center  ">登入</h2>
        <form id="login" class=" ml-5  " method="post" action="@Url.Action("Login")">
            @*<div class="row justify-content-center  ">
                    <div class="form-group ">
                        <div class="row mt-3 mr-2">
                            <label class="col-md-3 col-form-label   col-sm-3" for="account">帳號:</label>
                            <div class="col-md-9  col-sm-9">
                                <input id="account" name="account" type="text" class="form-control  " required placeholder="Enter Your Account...." />
                            </div>
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center ">
                    <div class="form-group ">
                        <div class="row mt-3 mr-2">
                            <label class="col-md-3 col-form-label   col-sm-3" for="pass">密碼:</label>
                            <div class="col-md-9 col-sm-9">
                                <input id="pass" name="pass" type="password" class="form-control  " required />
                                <small class="form-text text-muted"><a href="@Url.Action("ForgetPwd","Register")">忘記密碼</a></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-4">
                    <h5 class="text-danger">@ViewBag.LoginErr</h5>
                </div>

                <div class="row justify-content-center">
                    @*<div class="form-group form-check">
                            <input id="remember" type="checkbox" class="form-check-input" />
                            <label for="remember">記住我</label>
                        </div> <!---->
                    <div>
                    <div class="form-group">
                        <div class="col-md-12 ">
                            <div class="mt-3 mr-4">
                                <input id="Submit1" type="submit" value="登入" class="btn btn-primary btn-block" />
                            </div>
                            <div class="mt-3 mr-4">
                                <input id="Reset1" type="reset" value="重設" class="btn btn-light btn-block form-control" />
                            </div>
                            <div class="mt-3 mr-4">
                                @Html.ActionLink("註冊", "Register", "Register", "", new { @class = "btn btn-warning d-block" })
                            </div>
                        </div>
                    </div>
                </div>*@

            <div class="row justify-content-center">
                <div class="col-md-12 ml-1">
                    <label class=" col-form-label   pr-1" for="account">帳號:</label>
                    <div class=" pl-0">
                        <input id="account" name="account" type="text" class="form-control  " required placeholder="Enter Your Account...." />
                    </div>
                    <div>

                    </div>
                </div>

                <div class="col-md-12 ml-1">
                    <label class=" col-form-label   pr-1" for="pass">密碼:</label>
                    <div class=" pl-0">
                        <input id="pass" name="pass" type="password" class="form-control  " required />
                        <small class="form-text text-muted"><a href="@Url.Action("ForgetPwd","Register")">忘記密碼</a></small>
                    </div>
                </div>

                <div class="col-md-12 ">
                    <div class="mt-3 mr-4 ml-1">
                        <input id="Submit1" type="submit" value="登入" class="btn btn-primary btn-block" />
                    </div>
                    <div class="mt-3 mr-4 ml-1">
                        <input id="Reset1" type="reset" value="重設" class="btn btn-light btn-block  " />
                    </div>
                    <div class="mt-3 mr-5 ml-1">
                        @Html.ActionLink("註冊", "Register", "Register", "", new { @class = "btn btn-warning btn-block w-80 " })
                    </div>
                </div>

            </div>


        </form>
    </div>
</div>



@*<div>
        @Html.ActionLink("Back to Home", "Index")
    </div>*@
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
