@model JoinFun.Models.Photos_of_Activities

@{
    ViewBag.Title = "AddPhoto";
}

<h2>AddPhoto</h2>


@using (Html.BeginForm("AddPhoto", "Activity", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Photos_of_Activities</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.PhotoSerial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhotoSerial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhotoSerial, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.actId, "actId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.actId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.actId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="picture" class="control-label col-md-2">活動照片</label>
            <div class="col-md-10">
                <input type="file" id="picture" name="picture" />
            </div>
            <h4 class="text-danger">@ViewBag.UploadError</h4>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
