@model IEnumerable<JoinFun.Models.vw_Activities>


@{
    var pic = (IEnumerable<JoinFun.Models.Photos_of_Activities>)ViewBag.Picture;
    ViewBag.Title = "Details";
}


<div class="container">
    <h2 class="mt-4 text-primary">揪團活動</h2>
    <hr />
    @*if (Session["memId"] != null)
        {
        if (Session["memId"] != null && (Session["memId"]).ToString() == item.hostId)
        {*@
    <nav class="navbar navbar-expand-sm bg-secondary navbar-light mb-2">
        <ul class="navbar-nav">
            <li class="nav-item">
                @*@Html.ActionLink("編輯", "Edit", new { id = item.actId }, new { @class = "btn btn-primary" })*@
                <a class="nav-link text-light btn btn-primary" href="@Url.Action("Edit", new { actId = Model.FirstOrDefault().actId })">編輯</a>
            </li>
            <li class="nav-item ml-1">
                @*@Html.ActionLink("刪除", "Delete", new { id = item.actId }, new { @class = "btn btn-danger", onclick = "return confirm('確認刪除嗎??')" })*@
                <a class="nav-link text-light btn btn-danger" href="@Url.Action("Delete", new { actId = Model.FirstOrDefault().actId })" onclick="return confirm('確認刪除嗎??')">刪除</a>
            </li>
            @if (Session["memid"] != null)
            {
                <li>
                    <a class="nav-link text-light btn btn-link" href="@Url.Action("Report", new { id = Model.FirstOrDefault().actId, reporterID = Session["memid"].ToString() })">檢舉</a>
                </li>
            }

        </ul>

    </nav>
    @*}
        }*@
    @foreach (var item in pic)
    {
        if (item.actId != null)
        {
            @*<img src="@Url.Action("GetPhoto", "Activity", new {item.actPics })" style="width:600px;height:auto" class="rounded" />*@
            <img src="@Url.Content(item.actPics)" style="width:600px;height:auto" class="rounded img-fluid" />
        }
    }
    <table class="table mt-2" style="width:600px;border:thin">
        <tbody>
            @foreach (var item in Model)
            {
                var address = item.CountyName + item.DistrictName + item.actRoad;
                <tr>
                    <th class="bg-light text-center">@Html.DisplayNameFor(m => m.actTopic)</th>
                    <td class="pl-4">@Html.DisplayFor(modelItem => item.actTopic)</td>
                </tr>

                <tr>
                    <th class="bg-light text-center">@Html.DisplayNameFor(m => m.actTime)</th>
                    <td class="pl-4">@Html.DisplayFor(modelItem => item.actTime)</td>
                </tr>

                <tr>
                    <th class="bg-light text-center">@Html.DisplayNameFor(m => m.actDeadline)</th>
                    <td class="pl-4">@Html.DisplayFor(modelItem => item.actDeadline)</td>
                </tr>

                <tr>
                    <th class="bg-light text-center">@Html.DisplayNameFor(m => m.memNick)</th>
                    <td class="pl-4">@Html.DisplayFor(modelItem => item.memNick)</td>
                </tr>

                <tr>
                    <th class="bg-light text-center">@Html.DisplayNameFor(m => m.actDescription)</th>
                    <td class="pl-4">@Html.DisplayFor(modelItem => item.actDescription)</td>
                </tr>

                <tr>
                    <th class="bg-light text-center">@Html.DisplayNameFor(m => m.actClassName)</th>
                    <td class="pl-4">@Html.DisplayFor(modelItem => item.actClassName)</td>
                </tr>

                <tr>
                    <th class="bg-light text-center">@Html.DisplayNameFor(m => m.age)</th>
                    <td class="pl-4">@Html.DisplayFor(modelItem => item.age)</td>
                </tr>

                <tr>
                    <th class="bg-light text-center">@Html.DisplayNameFor(m => m.Budget)</th>
                    <td class="pl-4">@Html.DisplayFor(modelItem => item.Budget)</td>
                </tr>

                <tr>
                    <th class="bg-light text-center">活動地點</th>
                    <td class="pl-4">@address</td>
                </tr>

                <tr>
                    <th class="bg-light text-center">@Html.DisplayNameFor(m => m.gender)</th>
                    <td class="pl-4">@Html.DisplayFor(modelItem => item.gender)</td>
                </tr>

                <tr>
                    <th class="bg-light text-center">@Html.DisplayNameFor(m => m.PeoRestriction)</th>
                    <td class="pl-4">@Html.DisplayFor(modelItem => item.PeoRestriction)</td>
                </tr>

                <tr>
                    <th class="bg-light text-center">@Html.DisplayNameFor(m => m.payment)</th>
                    <td class="pl-4">@Html.DisplayFor(modelItem => item.payment)</td>
                </tr>

            }
        </tbody>

    </table>
    <div class="d-sm-flex justify-content-center" style="width:600px">
        @Html.ActionLink("返回", "Index", new { actClassId = ViewBag.actClassId }, new { @class = "btn btn-warning" })
    </div>

</div>
