@*@model IEnumerable<JoinFun.Models.vw_Activities>*@

@model JoinFun.ViewModel.ActClass


@{
    var pic = (IEnumerable<JoinFun.Models.Photos_of_Activities>)ViewBag.Picture;
    //var defaultpic = (IEnumerable<JoinFun.Models.Activity_Class>)ViewBag.defaultPic;
    var allpic = (IEnumerable<JoinFun.Models.Photos_of_Activities>)ViewBag.allpic;
    ViewBag.Title = "活動詳細資訊";
    int count = 0;
}

@section Detail{
    <link href="~/CSS/Detail.css" rel="stylesheet" />
}

@*大螢幕*@

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

@*輪播圖*@

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    @*<div class="carousel-item active bg_carousel" style="background-image:url(images/detail/makecake1.jpg)">

                        </div>
                        <div class="carousel-item bg_carousel" style="background-image:url(images/detail/makecake2.jpg)">

                        </div>
                        <div class="carousel-item bg_carousel" style="background-image:url(images/detail/makecake3.jpg)">

                        </div>*@

                    @*@foreach (var i in allpic)
                        {

                            if (i.actId != ViewBag.actClassId)
                            {
                                <img src="@Url.Content(pic.FirstOrDefault().actPics)" class="carousel-item active bg_carousel" />
                            }
                            else
                            {
                                <img src="@Url.Content(ViewBag.defaultPic) " class="carousel-item active bg_carousel" />
                            }
                        }*@
                    @foreach (var i in allpic)
                    {

                        if (i.actId == ViewBag.actId)
                        {
                            count += 1;

                            <img src="@Url.Content(pic.FirstOrDefault().actPics)" class="carousel-item active bg_carousel" />
                        };

                    };

                    @if (count == 0)
                    {
                        <img src="@Url.Content(ViewBag.defaultPic) " class="carousel-item active bg_carousel" />
                    }
                 

                </div>


                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>

        <div class="col-md-6 h-100">


            @foreach (var item in Model.vwActivityList)
            {
                <input id="JoinId" type="hidden" value="@item.actId" />

                <h1 class="title">@item.actTopic</h1>


                <div id="cutdown">
                    <span id="day" class="time">0</span>
                    <span id="hour" class="time">1</span>
                    <span id="minute" class="time">2</span>
                    <span id="second" class="time">3</span>
                </div>

                <div>

                    @if ( item.hostId ==  ViewBag.memID)
                    {
                        @Html.ActionLink("編輯活動", "Edit", new { actId = item.actId }, new { @class = "btn btn-warning btn-block" })

                    }
                    else
                    {

                        <input id="join" type="button" value="立即參加" class="btn btn-warning btn-block d-block  ml-5 " />
                        <input id="remark" type="button" value="收藏" class="btn btn-danger btn-block   ml-5 " />

                    }
                    <p>@item.hashTag</p>

                </div>

            }
        </div>
    </div>
    @*-------------------------------------------------------------------*@

    <div class="row">
        <div class="col-md-6 ">
            <span class="subtitle">活動內容</span>
            <div class="w-100">
                <pre id="act_content1"> 

@foreach(var item in Model.vwActivityList){
    
    @item.actDescription

}
                 </pre>
            </div>


            <div id="notice">
                @*<div class="row">*@
                @*<div class="col-md-6">*@
                <span class="subtitle">留言板</span>

                <div id="act_content1" class="w-100">
                 <h1>留言板區</h1>
                </div>

                @*</div>*@

            </div>
        </div>
        <div class="col-md-6">
            <span class="subtitle">活動資訊</span>
            <div id="act_info" class="w-100">
                <ul>
                    @foreach (var item in Model.vwActivityList)
                    {
                        var address = item.CountyName + item.DistrictName + item.actRoad;

                        <li><strong>活動主題：</strong>@item.actTopic</li>
                        <li class="detail_info">活動地點：</li>@address
                        <a href="https://www.google.com/maps/place/@address" target="_blank" class="btn btn-outline-danger "><sapn class="fa fa-map-marker"></sapn></a>
                        <li class="detail_info">活動時間：</li>@item.actTime
                        <li class="detail_info">報名截止：</li>@item.actDeadline
                        <li><strong>性別限制：</strong> <span id="gender">@item.gender</span></li>
                        <li><strong>預算金額：</strong>   @item.Budget</li>
                        <li><strong>年齡限制：</strong>   @item.age</li>
                        <li><strong>人數限制:</strong>  @item.PeoRestriction 人以下</li>
                        <li id="peojoin"><strong>已參團人數:</strong> @ViewBag.joinTime</li>
                        <li><strong>剩餘名額：</strong> <span id="remainpeo"> @(@item.PeoRestriction - @ViewBag.joinTime)</span></li>
                        <li><strong>主辦人:</strong>   @item.memNick</li>
                        <li><strong>付款方式:</strong>   @item.payment</li>

                    }
                </ul>

            </div>

            @*<div class="col-md-6">*@
            <span class="subtitle">關於揪團主</span>
            <div id="act_info" class="w-100">
                @foreach (var item in Model.vwActivityList)
                {
                    <img src="~/Photos/@(item.Sex == "M" ? "male.png" : "female.png")" class="img-fluid " style="width:50px" />
                    <p>@Html.ActionLink(@item.memNick,"Info","Member",new { memID=item.hostId },null)</p>


                }
                <input id="Button1" type="button" value="加好友" class="btn btn-outline-warning" />

                <input id="Button1" type="button" value="追蹤他" class="btn btn-outline-warning" />


                <div class="d-sm-flex justify-content-center" style="width:600px">
                    @Html.ActionLink("返回", "Index", new { actClassId = ViewBag.actClassId }, new { @class = "btn btn-warning" })
                </div>
            </div>
            @*</div>*@
        </div>

    </div>


    @*-------------------------------------------------------------------*@

</div>




@foreach (var item in Model.vwActivityList)
{
    <span id="time">@item.actDeadline.ToString().Replace("上午", "").Replace("下午", "")</span>
}


<p id="gendercompare">@Model.MemberList.FirstOrDefault().Sex</p>


@section work{
    <script>
        // 获取元素
        var day = document.querySelector('#day');
        var time = document.getElementById("time").innerText;
        var hour = document.querySelector('#hour');
        var minute = document.querySelector('#minute');
        var second = document.querySelector('#second');
        var d, h, m, s;


        var inputTime = new Date(time);
        //alert(inputTime);
        //console.log(inputTime);
        countDown();
        // 开启定时器
        setInterval(countDown, 1000);

        function countDown() {
            var nowTime = +new Date();
            var times = (inputTime - nowTime) / 1000;

            d = parseInt(times / 60 / 60 / 24);
            d = d < 10 ? '0' + d : d;
            day.innerHTML = d;
            h = parseInt(times / 60 / 60 % 24);
            h = h < 10 ? '0' + h : h;
            hour.innerHTML = h;
            m = parseInt(times / 60 % 60);
            m = m < 10 ? '0' + m : m;
            minute.innerHTML = m;
            s = parseInt(times % 60);
            s = s < 10 ? '0' + s : s;
            second.innerHTML = s;
        }



        if (d == 00 && h == 00 && m == 00 && s == 00) {
            clearInterval("countDown");
        }

        //var memid = Session["memid"];
        memid = "M000000017";
        function CheckMemJoin() {
            $.ajax({
                type: "Get",
                //url: "http://localhost:54129/api/ActAPI?memID=" + Session["memid"] + "&actId=" + $('#JoinId').val(),
                url: "http://localhost:54129/api/ActAPI?memID=" + memid + "&actId=" + $('#JoinId').val(),
                success: function (data) {
                    if (data.length == 0) {
                        $('#join').val("立即參加");
                    } else if (data[0].appvStatus = false) {
                        $('#join').val("取消審核");
                    } else {
                        $('#join').val("退出揪團");
                    }

                }

            })
        }




        $("#join").click(function () {
            if ($(this).val().includes('立即參加')) {

                $.ajax({
                    type: "Post",
                    //url: "http://localhost:54129/api/ActAPI?actId=" + $('#JoinId').val() + "&memId=" + Session["memid"],
                    url: "http://localhost:54129/api/ActAPI?memID=" + memid + "&actId=" + $('#JoinId').val(),
                    success: function () {
                        CheckMemJoin();
                    }
                })


            } else if ($(this).val().includes('取消審核')) {
                $.ajax({
                    type: "Delete",
                    url: "http://localhost:54129/api/ActAPI?actId=" + $('#JoinId').val() + "&memId=" + memid,
                    success: function () {
                        CheckMemJoin();
                    }
                })
            } else {

                $.ajax({
                    type: "Delete",
                    url: "http://localhost:54129/api/ActAPI?actId=" + $('#JoinId').val() + "&memId=" + memid,
                    success: function () {
                        CheckMemJoin();
                    }
                })

            }

        });
        console.log($("#remainpeo").text());
        console.log($("#gender").text());
        console.log($("#gendercompare").text());


        if ($("#remainpeo").text() == "0") {
            $("#join").attr("disabled", "disabled");
            $("#remark").attr("disabled", "disabled");
        };

        if ($("#gender").text() == "限男性") {
            if ($("#gendercompare").text() == "F") {
                $("#join").attr("disabled", "disabled");
                $("#remark").attr("disabled", "disabled");
            };
        } else if ($("#gender").text() == "限女性") {
            if ($("#gendercompare").text() == "M") {
                $("#join").attr("disabled", "disabled");
                $("#remark").attr("disabled", "disabled");
            };
        };

         //$("#join").attr("disabled", "disabled");
    </script>
}