@*@model IEnumerable<JoinFun.Models.vw_Activities>*@

@model JoinFun.ViewModel.ActClass


@{
    var pic = (IEnumerable<JoinFun.Models.Photos_of_Activities>)ViewBag.Picture;
    var defaultpic = (IEnumerable<JoinFun.Models.Activity_Class>)ViewBag.defaultPic;
    var allpic = (IEnumerable<JoinFun.Models.Photos_of_Activities>)ViewBag.allpic;
    ViewBag.Title = "活動詳細資訊";
    int count = 0;
    string actid = ViewBag.actId;
    string actclassid = Model.ActivityList.Where(m => m.actId == actid).FirstOrDefault().actClassId;
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@section Detail{
    <link href="~/CSS/Detail.css" rel="stylesheet" />
}
@section topCSS{
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
}

@*大螢幕*@

@*<div class="jumbotron jb ">
        <div class="container ">
            <h3></h3>

        </div>
    </div>*@

@*輪播圖*@

<div class="container">
    <div class="row">
        <div class="col-md-6 ">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                @*<ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        @for (var i = 0; i < pic.Count(); i++)
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@i"  class="active" ></li>
                        }

                    </ol>*@
                <div class="carousel-inner">

                    @foreach (var i in pic)
                    {
                        count += 1;
                        var active = count == 1 ? "active" : " ";


                        <div class=" carousel-item @active" id="firstimg">
                            <img src="@Url.Content(i.actPics)" class="bg_carousel" />
                        </div>

                    };

                    @if (count == 0)
                    {
                        @*<img src="@Url.Content(ViewBag.defaultPic) " class="carousel-item active bg_carousel" />*@
                        <img src=" @Url.Content(defaultpic.Where(m=>m.actClassId==actclassid).FirstOrDefault().Photos)" class="carousel-item active bg_carousel" />
                    }


                </div>


                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>

        <div class="col-md-6  h-100">


            @foreach (var item in Model.vwActivityList)
            {
                <input id="JoinId" type="hidden" value="@item.actId" />
                <input id="mem" type="hidden" value="@Session["memid"]" />
                <h1 class="title">@item.actTopic</h1>

                <div class="row justify-content-center">

                    <div id="cutdown" class="col-12">
                        <span id="day" class="time">00</span>
                        <span id="hour" class="time">00</span>
                        <span id="minute" class="time">00</span>
                        <span id="second" class="time">00</span>
                    </div>

                </div>
                <div class="center ">
                    <div class="row justify-content-center">
                        <div class="col-6 ">

                            @if (Session["memid"].ToString() != "")

                            {

                                if (item.hostId == ViewBag.memID)
                                {
                                    @Html.ActionLink("編輯活動", "Edit", new { actId = item.actId }, new { @class = "btn btn-warning btn-block " })

                                }
                                else
                                {
                                    if (Model.ActDetails.Count() == 0)
                                    {
                                        <input id="join" type="button" value="立即參加" class="btn btn-warning btn-block    " />
                                    }

                                    else if (Model.ActDetails.Count() > 0 && Model.ActDetails.FirstOrDefault().appvStatus == false)
                                    {
                                        <input id="join" type="button" value="取消審核" class="btn btn-warning btn-block    " />
                                    }
                                    else if (Model.ActDetails.Count() > 0 && Model.ActDetails.FirstOrDefault().appvStatus == true && Model.vwActivityList.FirstOrDefault().acceptDrop == true)
                                    {
                                        <input id="join" type="button" value="退出揪團" class="btn btn-warning btn-block    " />
                                    }
                                    else if (Model.ActDetails.Count() > 0 && Model.ActDetails.FirstOrDefault().appvStatus == true && Model.vwActivityList.FirstOrDefault().acceptDrop == false)
                                    {
                                        <input id="join" type="button" value="報名成功" class="btn btn-warning btn-block     " disabled="disabled" />
                                    }


                                    <a href="@Url.Action("Report","Activity",new { id=@item.actId,reporterID=@Session["memid"]})" class="btn btn-outline-danger mt-5 ml-5"><i class="fas fa-exclamation-triangle "></i>　檢舉活動</a>
                                }
                            }
                            else
                            {
                                <input id="join" type="button" value="歡迎登入參加" class="btn btn-warning btn-block  " disabled="disabled" />
                            }
                            <p id="hash">@item.hashTag</p>
                        </div>


                    </div>



                </div>

            }
        </div>
    </div>
    @*-------------------------------------------------------------------*@

    <div class="row">
        <div class="col-lg-6 order-md-1 order-2">
            <span class="subtitle">活動內容</span>
            <div class="w-100">
                <div id="act_content1">

                    @foreach (var item in Model.vwActivityList)
                    {
                        <input id="age" type="hidden" value="@item.serial" />
                        <div id="text" class="text-center mt-4">@Html.Raw(@item.actDescription.ToString().Replace("\n","<br>"))</div>

                    }
                </div>
            </div>


            <div id="notice">

                <span class="subtitle">留言板</span>

                <div id="act_content2" class="w-100 ">
                    @*<h1>留言板區</h1>*@
                    <div id="commentBoard">
                        @foreach (var item in Model.MBoard)
                        {
                            <div class="mb-4" id="user">
                                <a href="@Url.Action("info", "Member", new { memID = item.memId })" class="fa fas fa-user"></a>
                                <label id="@item.memId">@Model.members.Where(m => m.memId == item.memId).FirstOrDefault().memNick</label>
                                <span id="messageTime">(@item.messageTime)</span>
                                @if (Session["memid"] != null)
                                {
                                    if (Session["memid"].ToString() != item.memId)
                                    {
                                        <a class="ml-auto fa fas fa-file-signature text-danger" href="@Url.Action("Report", "Activity", new { id = item.mboardSerial, reporterID = Session["memid"].ToString() })"></a>
                                    }
                                }
                                @if (item.boardMessage.StartsWith("@"))
                                {
                                    <div class="mt-2 ml-3 onFocus">
                                        @Html.Raw(@item.boardMessage.Replace("\n", "<br/>"))
                                    </div>
                                }
                                else
                                {
                                    <div class="mt-2 ml-3">
                                        @Html.Raw(@item.boardMessage.Replace("\n", "<br/>"))
                                    </div>
                                }
                            </div>
                        }
                    </div>

                    @Html.TextBoxFor(m => m.ActivityList.FirstOrDefault().actId, new { type = "hidden", @id = "actID" })
                    @Html.TextBoxFor(m => m.members.Where(model => model.memId == Session["memid"].ToString()).FirstOrDefault().memId, new { type = "hidden", @id = "member" })
                    @Html.TextBoxFor(m => m.members.Where(model => model.memId == Session["memid"].ToString()).FirstOrDefault().memNick, new { type = "hidden", id = "nick" })
                    @*<div class="highlighter"><span></span></div>*@
                    @*@Html.TextBoxFor(m => m.MBoard.FirstOrDefault().boardMessage, new { Value = "", @id = "comments" })

                        <input id="commentBtn" type="button" value="送出" class="btn btn-info" />*@
                    <div class="text-center ml-5">
                        <textarea id="comments" rows="6" cols="15" class="form-control col-md-12 mb-4" style="resize:none"></textarea>
                        <input id="commentBtn" type="button" value="送出" class="btn btn-info btn-block mContent" />
                    </div>
                </div>

            </div>



        </div>
        <div class="col-lg-6 order-md-2 order-1">
            <span class="subtitle">活動資訊</span>
            <div id="act_info" class="w-100 text-lg-left text-md-center ">
                <ul class="ml-lg-5">
                    @foreach (var item in Model.vwActivityList)
                    {
                        var address = item.CountyName + item.DistrictName + item.actRoad;

                        <li><strong>活動主題：</strong>@item.actTopic</li>
                        <li class="detail_info">活動地點：</li>@address
                        <a href="https://www.google.com/maps/place/@address" target="_blank" class="btn btn-outline-danger "><sapn class="fa fa-map-marker"></sapn></a>
                        <li class="detail_info">活動時間：</li>@item.actTime
                        <li class="detail_info">報名截止：</li>
                        <span id="actdeadtime">@item.actDeadline</span>
                        <li><strong>性別限制：</strong> <span id="gender">@item.gender</span></li>
                        if (item.BudgetNo.ToString() == "1")
                        {
                            <li><strong>預算金額：</strong>不限</li>
                        }
                        else
                        {
                            <li><strong>預算金額：</strong>   @item.Budget.ToString("NT$#")</li>
                        }

                        <li><strong>年齡限制：</strong><span id="age">@item.age</span></li>
                        <li><strong>人數限制:</strong>  @item.PeoRestriction 人以下</li>
                        <li id="peojoin"><strong>已參團人數:</strong> @ViewBag.joinTime          @Html.ActionLink(" ", "MemJoin", "Activity", new { actId = ViewBag.actId, memID = ViewBag.memID, actClassId = ViewBag.actClassId }, new { @class = "fa fa-user", id = "memamount" })</li>
                        <li><strong>剩餘名額：</strong> <span id="remainpeo"> @(@item.PeoRestriction - @ViewBag.joinTime)</span></li>
                        <li><strong>主辦人:</strong>   @item.memNick</li>
                        <li><strong>付款方式:</strong>   @item.payment</li>

                    }
                </ul>

            </div>

            @*<div class="col-md-6">*@
            <span class="subtitle">關於揪團主</span>
            <div id="act_info" class="w-100  ">
                <br />
                <div class="pl-lg-5 ml-lg-4 text-md-center text-lg-left">
                    @foreach (var item in Model.vwActivityList)
                    {

                        <a href="@Url.Action("Info", "Member", new { memID = item.hostId })"><img src="~/Photos/@(item.Sex == "M" ? "male.png" : "female.png")" class="img-fluid mb-2" style="width:2.3rem" /></a>

                        <span id="hostId">@Html.ActionLink(@item.memNick, "Info", "Member", new { memID = item.hostId }, new { id = "hostid", })</span>


                    }
                </div>
                <br />


            </div>
            @*</div>*@
        </div>

    </div>
    <div class="row justify-content-end mt-4">
        <div class="col-4 delreturnbox ">
            @Html.ActionLink("返回", "Index", new { actClassId = ViewBag.actClassId }, new { @class = "btn btn-danger", id = "detailreturn" })
        </div>

    </div>

    @*-------------------------------------------------------------------*@

</div>
<br />
<br />
<br />
@{

    //判斷時間(用於定時器)
    foreach (var item in Model.vwActivityList)
    {
        <span id="time" class="d-none">@item.actDeadline.ToString().Replace("上午", "").Replace("下午", "")</span>

    }
    <span id="now" class="d-none">@DateTime.Now.ToString().Replace("上午", "").Replace("下午", "")</span>




    <p id="date" class="d-none">@DateTime.Now</p>


    <p id="ismem" class="d-none">@ViewBag.memID</p>


    //判斷當前會員性別

    if (Session["memid"].ToString() != "")
    {

        @*<p id="gendercompare">@Model.members.Where(m => m.memId == Session["memid"]).FirstOrDefault().Sex</p>*@

        <p id="gendercompare " class="d-none">@Model.MemberList.FirstOrDefault().Sex</p>

        //判斷年齡

        var memage = (DateTime.Now.Year - Model.MemberList.FirstOrDefault().Birthday.Year);


        @*<p id="agecompare">@memage</p>*@
        <input id="agecompare" type="hidden" value="@memage" />

    }
}


@section work{
    <script>
        // 获取元素
        var day = document.querySelector('#day');
        var time = document.getElementById("time").innerText;
        var hour = document.querySelector('#hour');
        var minute = document.querySelector('#minute');
        var second = document.querySelector('#second');
        var d, h, m, s,D,H,M,S;


        var inputTime = new Date(time);
        //alert(inputTime);
        //console.log(inputTime);
        countDown();
        // 开启定时器
        var interval=setInterval(countDown, 1000);

        function countDown() {
            var nowTime = new Date();
            var times = (inputTime - nowTime) / 1000;

            d = parseInt(times / 60 / 60 / 24);
            D = d;
            d = d < 10 ? '0' + d : d;
            day.innerHTML = d;
            h = parseInt(times / 60 / 60 % 24);
            H = h;
            h = h < 10 ? '0' + h : h;
            hour.innerHTML = h;
            m = parseInt(times / 60 % 60);
            M = m;
            m = m < 10 ? '0' + m : m;

            minute.innerHTML = m;
            s = parseInt(times % 60);
            S = s;
            s = s < 10 ? '0' + s : s;
            second.innerHTML = s;
        }

        console.log(D);
        console.log(H);
        console.log(M);
        console.log(S);



        if (D <= 0 && H <= 0 && M <= 0 && S <= 0) {

            clearInterval(interval);
            d = "00";
            h = "00";
            m = "00";
            s = "00";
            day.innerHTML = d;
            hour.innerHTML = h;
            minute.innerHTML = m;
            second.innerHTML = s;
        }

        //判斷參加狀態

        function CheckMemJoin() {
            $.ajax({

                url:"@Url.Action("GetActdetail", "Activity")",
                method: "get",
                dataType:"json",
                traditional:true,
                data: { MemID: $("#mem").val(), actId: $('#JoinId').val()} ,
                success: function (data) {
                    console.log(data);
                    if (!data) {
                        $('#join').val("立即參加");
                    } else if (data.status == "False")
                    {
                        $('#join').val("取消審核");
                    } /*else if(data.status =="True"){*/
                    //    $('#join').val("退出揪團");
                    //}


                }

            })
        }

       //參加API

        $("#join").click(function () {
            if ($(this).val() == "立即參加") {

                $.ajax({
                    url: "@Url.Action("AddActdetail","Activity")",
                    method: "post",
                    traditional: true,
                    data: { MemID: $("#mem").val(), actId: $('#JoinId').val() },
                    success: function () {
                        CheckMemJoin();
                        alert("恭喜報名成功，靜待主辦人審核");
                    }
                });

            } else if ($(this).val() == "取消審核") {

                $.ajax({
                    url: "@Url.Action("DelActdetail","Activity")",
                    method: "delete",
                    traditional: true,
                    data: { MemID: $("#mem").val(), actId: $('#JoinId').val() },
                    success: function () {
                        CheckMemJoin();
                        alert("已成功取消");
                    }
                });
                CheckMemJoin();
            }else if ($(this).val() == "退出揪團") {

                $.ajax({
                    url: "@Url.Action("DelActdetail","Activity")",
                    method: "delete",
                    traditional: true,
                    data: { MemID: $("#mem").val(), actId: $('#JoinId').val() },
                    success: function () {
                        CheckMemJoin();
                        alert("已成功退出");
                    }
                });
                CheckMemJoin();
            }
        });


        //if ($("#ismem").text() != "1") {


        console.log($("#age").text() =="18-25歲");
        console.log("&nbsp;"+"&nbsp;"+"18-25歲".length);
        console.log($("#age").text().length);

        console.log($("#remainpeo").text());
        console.log($("#gender").text());
        console.log($("#gendercompare").text());
        var agecompare =parseInt($("#agecompare").html());
        console.log(agecompare);
        console.log($("#age").text());
        //判斷參團人數限制
        if ($("#remainpeo").text() == "0") {
            $("#join").attr("disabled", "disabled");
            $("#remark").attr("disabled", "disabled");
        };

        //判斷性別限制

        if ($("#gender").text() == "限男性") {
            if ($("#gendercompare").text() == "F") {
                $("#join").attr("disabled", "disabled");
                $("#remark").attr("disabled", "disabled");
                $("#join").val("不符合報名資格")
            };
        } else if ($("#gender").text() == "限女性") {
            if ($("#gendercompare").text() == "M") {
                $("#join").attr("disabled", "disabled");
                $("#remark").attr("disabled", "disabled");
                 $("#join").val("不符合報名資格")
            };
        };


           //判斷年齡限制


        console.log($("#age").val());
         console.log($("#agecompare").val());
        if ($("#age").val() == 2) {
            if ($("#agecompare").val() < 18 ||$("#agecompare").val() > 25) {
                $("#join").attr("disabled", "disabled");
                $("#join").val("不符合報名資格")
            }
        }
        else if ($("#age").val() == 3) {
            if ($("#agecompare").val() < 26 || $("#agecompare").val()> 30) {
                console.log("ok");
                $("#join").attr("disabled", "disabled");
                 $("#join").val("不符合報名資格")
            }
        }
         else if ($("#age").val() == 4) {
              if ($("#agecompare").val() < 31 || $("#agecompare").val()> 40) {
                  $("#join").attr("disabled", "disabled");
                   $("#join").val("不符合報名資格")
               }
         } else if ($("#age").val() == 5) {
             if ($("#agecompare").val()< 41) {
                 $("#join").attr("disabled", "disabled");
                  $("#join").val("不符合報名資格")
                };
        }

        //判斷活動截止

        var newactdate = Date.parse($("#now").text());
        console.log($("#now").text());

        console.log(newactdate);
        var newdeaddate= Date.parse($("#time").text());
        console.log(newdeaddate);
        if (newactdate >= newdeaddate) {
            $("#join").attr("disabled", "disabled");
            $("#remark").attr("disabled", "disabled");
            $("#join").val("活動報名截止")
            }


     //判斷是否為匿名會員
        if ($("#ismem").text() == '1') {
             $("#join").attr("disabled", "disabled");
        }
    </script>
}

@section scripts{
    <script>

        $('#commentBtn').click(function () {
        var upload = $('#comments').val().replace(/\n/g,'<br/>');
        $.ajax({
            url: "@Url.Action("AddComment", "Activity")",
            method: "post",
            traditional: true,
            data: { id: $('#actID').val(), memID: $('#member').val(), comment: $('#comments').val(), receiver: $('#user label').attr('id') },
            success: function () {
                alert("留言新增成功");
                //$.ajax({
                //    type: "Get",
                //    url: "http://localhost:54130/api/getComment?id=" + data.mid,
                //    success: function (d) {
                //        $('#commentBoard').append('<div class="mb-4"><a href="@@Url.Action("info","Member", new { memID = item.memId})" class="fa fas fa-user"></a><label>'
                //           + $('#nick').val() + '</label>' + '<span>' + '  (' + d[0] + ')' + '</span><div class="mt-2 ml-3 onFocus">' + d[1] + '</div></div>');
                //    },
                //});
                $('#commentBoard').append('<div class="mb-4"><a href="@@Url.Action("info","Member", new { memID = item.memId})" class="fa fas fa-user"></a><label>'
                    + $('#nick').val() + '</label>' + '<span>' + '  (' + $('#messageTime').text() + ')' + '</span><div class="mt-2 ml-3 onFocus">' + upload + '</div></div>');
                $('#comments').val("");
                $('.highlighter span').text("");
            },
            error: function () {
                alert('請先登入後留言');
            }
        });
    });

    $('#commentBoard label').click(function () {
        var timer;
        $('#commentBoard label').on("mousedown", function () {
            if ($('#member').val() != $(this).attr("id")) {
                var target = "@@" + $(this).text() + " ";
                timer = setTimeout(function () {
                    $('#comments').val(target);
                    $('#comments').addClass('font-weight-bold text-primary');
                    //$('.highlighter span').text(target);
                }, 800);
            }
        }).on("mouseup", function () {
                clearTimeout(timer);
        });
    });


    $('#comments').keyup(function () {
        if ($(this).val().length <= 0)
            $('#comments').removeClass('font-weight-bold text-primary');
    });
    </script>
}