@*@model IEnumerable<Test.Models.vw_Activities>*@
@*@model JoinFun.ViewModel.ActClass*@
@*@model IEnumerable<JoinFun.Models.vw_Activities>*@
@model JoinFun.ViewModel.Finalchoose

@{
    //var host = (IEnumerable < Test.Models.Member >)ViewBag.host;
    ViewBag.Title = "揪團活動列表";
    //var agelist = (IEnumerable<JoinFun.Models.Age_Restriction>)ViewBag.age;
}

@section indexcss {

    <link href="~/CSS/index_fun.css" rel="stylesheet" />
    <link href="~/CSS/Newcard/demo.css" rel="stylesheet" />
    <link href="~/CSS/Newcard/reset.css" rel="stylesheet" />
    <link href="~/CSS/Newcard/style_common.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

}

<div class="container mt-5">
    <!--輪播圖-->

    <header class="container-fluid d-none d-md-block">
        <div id="carousel" class="carousel slide " data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active bg_carousel " style="background-image:url('../../Photos/banner/Join Fun.png')">

                </div>
                <div class="carousel-item bg_carousel" style="background-image:url('../../Photos/banner/Join Fun (1).png')">

                </div>
                <div class="carousel-item bg_carousel" style="background-image:url('../../Photos/index/carousel4.jpg')">

                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </header>
    @*<span class="fa fa-search" id="search"></span>*@
    @*<div class="collapse" id="choose_collapse">*@
    <div id="finalchoose">
        @using (Html.BeginForm("FinalChoose", "Activity", FormMethod.Get))
        {
            <label class="choice col-12 col-md-4 col-lg-auto ">類別</label>
            @Html.DropDownListFor(m => m.joinfunlist.FirstOrDefault().actClassId, ViewBag.Activity_Class as SelectList, htmlAttributes: new { @class = "form-control-sm " })
            <label class="choice col-12 col-md-4 col-lg-1 ">年齡限制</label>
            @Html.DropDownListFor(m => m.joinfunlist.FirstOrDefault().ageRestrict, ViewBag.Age_Restriction as SelectList, htmlAttributes: new { @class = "form-control-sm " })
            <label class="choice col-12 col-md-4 col-lg-1 justify-content-start">性別限制</label>
            @Html.DropDownListFor(m => m.joinfunlist.FirstOrDefault().gender, ViewBag.Gender_Restriction as SelectList, htmlAttributes: new { @class = "form-control-sm" })
            <label class="choice col-12 col-md-4 col-lg-1">人數上限</label>
            @Html.DropDownListFor(m => m.joinfunlist.FirstOrDefault().maxNumPeople, ViewBag.People_Restriction as SelectList, htmlAttributes: new { @class = "form-control-sm" })
            <label class="choice col-12 col-md-4 col-lg-1">預算上限</label>
            @Html.DropDownListFor(m => m.joinfunlist.FirstOrDefault().maxBudget, ViewBag.Budget_Restriction as SelectList, htmlAttributes: new { @class = "form-control-sm" })
            <label class="choice col-12 col-md-4 col-lg-1">付款方式</label>
            @Html.DropDownListFor(m => m.joinfunlist.FirstOrDefault().paymentTerm, ViewBag.Payment_Restriction as SelectList, htmlAttributes: new { @class = "form-control-sm" })
            <label class="choice col-12 col-md-4 col-lg-1">縣/市</label>
            @Html.DropDownListFor(m => m.joinfunlist.FirstOrDefault().actCounty, ViewBag.County as SelectList, htmlAttributes: new { @id = "county", @class = "form-control-sm" })

            <input id="finalchoose" type="submit" value="進行篩選" class="btn btn-warning btn-sm ml-3 col-5 my-3 col-offset-3" />

        }

    </div>
    <div class=" bg-dark text-white mb-4 mt-1 rounded p-3" style="max-height:80px;font-size:1.2rem;line-height:1.2rem">
        <div class="mb-1 text-warning font-weight-bolder " style="letter-spacing:3px"><i class="fas fa-bullhorn" style="font-size:1.5rem;line-height:1.5rem"></i>　@Model.post.FirstOrDefault().postTime.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture)　最新公告：</div>
        <a href="@Url.Action("Post","Info",new { PostNo=Model.post.FirstOrDefault().postSerial})" class="text-white"><marquee direction="left" behavior="scroll" scrollamount="10" style="font-size:1.5rem;line-height:1.5rem;cursor:pointer;letter-spacing:5px">@Model.post.FirstOrDefault().postTitle</marquee></a>
    </div>
    @*</div>*@
    <div>
        <h2 id="index_title" class="mx-5 pl-2 mt-1">揪團活動</h2>
        <form class="form-inline form-row mt-2 " method="get" action="/Activity/Search">

            <input class="form-control col-md-auto col-sm-7 ml-auto " type="search" placeholder="查詢活動關鍵字" name="keyword">
            <button class="btn btn-outline-secondary col-offset-3 col-md-auto ml-1 " type="submit">Search</button>

        </form>
    </div>

    <article class="main w-75">
        <div class="row">
            @foreach (var item in Model.vwActList)

            {
                <input type="hidden" id="act" value="@item.actId" />
                <input type="hidden" id="acttime" value="@item.actTime" />


                var address = @item.CountyName + item.DistrictName;

                <div class="col-md-4 col-sm-6 justify-content-around">

                    <div id="act" class="view view-first ">


                        @if (item.actId != null)
                        {
                            <a href="@Url.Action("Details", new { actId = item.actId , actClassId = item.actClassId,memID=Session["memid"] })"><img src="@Url.Action("GetIndexPhoto", "Activity", new { actId = item.actId, actClassId=item.actClassId })" style="height:220px" /></a>
                        }
                        <div class="mask">

                            <h2>@Html.ActionLink(item.actTopic, "Details", new { actId = item.actId, actClassId = item.actClassId, memID = Session["memid"] })</h2>
                            <pre class="sub">活動時間：@Html.DisplayFor(modelItem => item.actTime)</pre>
                            <pre class="sub">截止時間：@Html.DisplayFor(modelItem => item.actDeadline)</pre>
                            <pre class="sub">地點：@address</pre>
                            @*  *@

                            @Html.ActionLink("詳情", "Details", new { actId = item.actId, actClassId = item.actClassId, memID = Session["memid"] }, new { @class = "btn btn-secondary" })



                        </div>
                    </div>

                </div>

            }
        </div>
    </article>

</div>



@section indexscript{

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

}

