@*@model IEnumerable<Test.Models.vw_Activities>*@
@model JoinFun.ViewModel.ActClass

@{
    //var host = (IEnumerable < Test.Models.Member >)ViewBag.host;
    ViewBag.Title = "揪團活動列表";
}

<style>
    .bg {
             background-image: linear-gradient(45deg, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
        }
</style>

    <div class="container">
        <h5 class="display-4">揪團活動列表</h5>
        <hr />
        <nav class="navbar navbar-expand-sm bg-secondary navbar-light mb-2">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggler" aria-controls="navtoggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navtoggler">
                <ul class="navbar-nav mr-auto">

                    @foreach (var item in Model.ClassList)
                    {
                        if (item.actClassId == "cls001")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" href="@Url.Action("Index", new { actClassId = item.actClassId })">@item.actClassName</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" href="@Url.Action("Index", new { actClassId = item.actClassId })">@item.actClassName</a>
                            </li>
                        }

                    }
                </ul>



            </div>
            <ul class="navbar-nav mr-auto">
                @*@if (Session["memId"] != null)
            {*@
                @Html.ActionLink("新增活動", "Create", new { actClassId = ViewBag.actClassId }, new { @class = "btn btn-primary" })
                @*}*@
            </ul>
        </nav>
        <div class="col col-xs-10">
            @*<h3>@ViewBag.actClassName</h3>*@

            <div class="row">


                @foreach (var item in Model.ActivityList)
                {
                    var address = item.CountyName + item.DistrictName + item.actRoad;

                    <div class="card-group">


                        <div class="card mt-2" style="width:200px">

                            @if (item.actId != null)
                            {
                                <img src="@Url.Action("GetPhoto", "Activity", new { item.actId})" style="width:200px;height:auto" class="img-thumbnail" />
                            }

                            <div class="card-header bg-light">
                                @*<h4 class="text-center">活動主題</h4>*@
                                <h3 class="text-center text-danger">@Html.DisplayFor(modelItem => item.actTopic)</h3>
                            </div>
                            <div class="card-body">

                                <h4 class="text-center text-primary"><mark>活動時間</mark></h4>
                                <p class="text-center text-muted">@Html.DisplayFor(modelItem => item.actTime)</p>
                                <h4 class="text-center text-primary"><mark>活動截止時間</mark></h4>
                                <p class="text-center text-muted">@Html.DisplayFor(modelItem => item.actDeadline)</p>
                                <h4 class="text-center text-primary"><mark>活動地點</mark></h4>
                                <p class="text-center text-muted">@address</p>
                                <h4 class="text-center"><mark class="text-danger">主辦人</mark></h4>
                                <p class="text-center text-muted">@Html.DisplayFor(modelItem => item.memNick)</p>
                            </div>
                            <div class="card-footer bg-warning text-center">
                                @Html.ActionLink("詳情", "Details", new { actId = item.actId, actClassId = ViewBag.actClassId })
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>