@model JoinFun.Models.Member

@section memberinfo{
    <link href="~/CSS/MemberInfo.css" rel="stylesheet" />
}



@{
    ViewBag.Title = "編輯個人資訊";
}
@*將資料集轉為IEnumerable*@
@{var cc = (IEnumerable<JoinFun.Models.County>)ViewBag.county_drop;}
@{var dd = (IEnumerable<JoinFun.Models.District>)ViewBag.district_drop;}

<h3 class="mt-5 mb-5 bg-warning text-white rounded-pill text-center p-1 w-50 mx-auto">編輯個人資訊</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*@Html.HiddenFor(model => model.memId)*@
    <input type="hidden" name="memId" value="@Model.memId" />
    <div class="row ml-auto mr-auto">
        <div class="col-md-4 text-center   align-self-center">
            <div class="form-group ">
                <div class="col-md">
                    <img src="~/Photos/@(Model.Sex == "M" ? "male.png" : "female.png")" class="img-fluid w-50 " />
                </div>

                <div class="col-md">
                    <select id="Sex" name="Sex" class="form-control-sm">
                        <option value="M" @(Model.Sex == "M" ? "selected" : "")>男</option>
                        <option value="F" @(Model.Sex == "M" ? "" : "selected")>女</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col col-md-8 ">
            <div class="row form-inline mx-auto  text-center text-md-left mb-3">
                <div class="col-12 col-md-4">
                    @Html.LabelFor(model => model.memNick, htmlAttributes: new { @class = "control-label text-success font-weight-bold" })
                </div>
                <div class="col-12 col-md-8">
                    @Html.EditorFor(model => model.memNick, new { htmlAttributes = new { @class = "form-control mx-auto text-center w-50" } })
                    @Html.ValidationMessageFor(model => model.memNick, "", new { @class = "text-danger" })
                    <div></div>
                </div>
            </div>
            <div class="row form-inline mx-auto  text-center  text-md-left mb-3 form-group">
                <div class="col-12 col-md-4">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label text-success font-weight-bold" })
                </div>
                <div class="col-12 col-md-8">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control mx-auto text-center w-50" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    <div></div>
                </div>
            </div>
            <div class="row form-inline mx-auto  text-center text-md-left mb-3">
                <div class="col-12 col-md-4 ">
                    @Html.LabelFor(model => model.memCounty, "所在地", htmlAttributes: new { @class = "control-label text-success font-weight-bold" })
                </div>
                <div class="col-12 col-md-8 ">
                    @*@Html.DropDownList("county_drop", null, htmlAttributes: new { @class = "form-control ml-auto mr-auto mb-1 text-center w-25" })*@
                    @Html.ValidationMessageFor(model => model.memCounty, "", new { @class = "text-danger" })
                    @*@Html.DropDownList("district_drop", null, htmlAttributes: new { @class = "form-control ml-auto mr-auto mb-1 text-center w-25" })*@

                    <select id="memCounty" name="memCounty" class="form-control mx-auto mb-1 text-center w-25">
                        @foreach (var i in cc)
                        {
                            if (Model.County.CountyNo == i.CountyNo)
                            {
                                <option value="@i.CountyNo" selected >@i.CountyName</option>
                            }
                            else
                            {
                                <option value="@i.CountyNo">@i.CountyName</option>
                            }
                        }
                    </select>
                    <select id="memDistrict" name="memDistrict" class="form-control mx-auto mb-1 text-center w-25">
                        @foreach (var i in dd.Where(a => a.CountyNo == Model.County.CountyNo))
                        {
                            if (Model.District.DistrictSerial == i.DistrictSerial)
                            {
                                <option value="@i.DistrictSerial" selected>@i.DistrictName</option>
                            }
                            else
                            {
                                <option value="@i.DistrictSerial">@i.DistrictName</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="row form-inline mx-auto  text-center text-md-left mb-3">
                <div class="col-12 col-md-4 ">
                    @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label text-success font-weight-bold" })
                </div>
                <div class="col-12 col-md-8 ">
                    @*<input id="Birthday" name="Birthday" class="form-control mx-auto text-center w-50" type="date" />*@
                    @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control mx-auto text-center w-50" } })
                    @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row w-100 mt-4 mb-4 text-center mx-auto">
        <div class="col-12 col-md-4 border-right mb-3 ">
            @Html.LabelFor(model => model.Introduction, htmlAttributes: new { @class = "control-label adj_fontsize text-success font-weight-bold col-12" })
            @Html.TextArea("Introduction", Model.Introduction, 8, 50, new { @class = "form-control mx-auto text-center ", style = "resize:none" })
            @Html.ValidationMessageFor(model => model.Introduction, "", new { @class = "text-danger" })
        </div>
        <div class="col-12 col-md-4 border-right mb-3 ">
            <div>
                @Html.LabelFor(model => model.Habit, "興趣", htmlAttributes: new { @class = "control-label adj_fontsize text-success font-weight-bold col-12" })
                @Html.TextArea("Habit", Model.Habit, 8, 50, new { @class = "form-control mx-auto text-center ", style = "resize:none" })
                @*@Html.EditorFor(m => m.Habit1, new { htmlAttributes = new { @class = "form-control ml-auto mr-auto text-center mb-1" } })*@
            </div>
            @Html.ValidationMessageFor(model => model.Habit, "", new { @class = "text-danger" })
        </div>
        <div class="col-12 col-md-4  mb-3 ">
            <div>
                @Html.LabelFor(model => model.Dietary_Preference, "飲食偏好", htmlAttributes: new { @class = "control-label adj_fontsize text-success font-weight-bold col-12" })
                @Html.TextArea("Dietary_Preference", Model.Dietary_Preference, 8, 50, new { @class = "form-control mx-auto text-center ", style = "resize:none" })
                @*@Html.EditorFor(m => m.Dietary_Preference1, new { htmlAttributes = new { @class = "form-control ml-auto mr-auto text-center mb-1" } })*@
            </div>
            @Html.ValidationMessageFor(model => model.Dietary_Preference, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row w-100 mx-auto">
        <div class="col col-12 col-md-6 offset-md-3 text-center ">
            <input type="submit" value="確認送出" class="btn  mx-auto btn-outline-success" id="confirm" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{
    <script src="~/JS/MemberEdit.js"></script>
    <script>
        //填入原始會員生日
        var day = ("0" + @Model.Birthday.Day).slice(-2);
        //格式化月，如果小於9，前面補0
        var month = ("0" + (@Model.Birthday.Month )).slice(-2);
        //拼裝完整日期格式
        var today = @Model.Birthday.Year + "-" + (month) + "-" + (day);
        //完成賦值
        $('#Birthday').val(today);
    </script>
}