@model JoinFun.ViewModel.MemberViewModel



@section memberinfo{

    <link href="~/CSS/MemberInfo.css" rel="stylesheet" />
}

<div class="container containerMinH">
    @{
        var session = Session["memid"].ToString();
    }

    @foreach (var i in Model.Member)
    {
        if (Model.Blacklist.Where(m => m.memId == session && m.blockedMemId == i.memId).Count() == 0 && Model.Blacklist.Where(m => m.memId == i.memId && m.blockedMemId == session).Count() == 0)
        {
            //給好友新增、刪除使用
            <input id="FriendID" type="hidden" value="@i.memId" />

            <div class="row ">
                <div class="col-12 text-center">

                    @if (!session.IsEmpty())
                    {
                        <h3 class="mt-5 mb-5 bg-warning text-white rounded-pill p-1 w-50 mx-auto">個人資訊</h3>
                        ViewBag.Title = "個人資訊";

                        //給好友新增、刪除使用
                        <input type="hidden" id="memID" value="@session" />
                    }
                    else
                    {
                        <h3 class="mt-5 mb-5 bg-warning text-white rounded-pill p-1 w-50 mx-auto">會員資訊</h3>
                        ViewBag.Title = "會員資訊";
                    }

                </div>
            </div>
            <div class="row">
                <div class="col col-md-4 text-center  align-self-center">
                    <img src="~/Photos/@(i.Sex == "M" ? "male.png" : "female.png")" class="img-fluid w-50 " />
                </div>
                <div class="col col-md-8 align-self-center text-center animated fadeInDown">
                    <div class="row mb-2">
                        <div class="col-md-4 text-success adj_fontsizemid font-weight-bold">
                            @Html.DisplayNameFor(model => i.memId)
                        </div>
                        <div class="col-md-8 text-secondary">
                            @Html.DisplayFor(m => i.memId)
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4 text-success adj_fontsizemid font-weight-bold">
                            @Html.DisplayNameFor(model => i.memNick)
                        </div>
                        <div class="col-md-8 ">
                            @Html.DisplayFor(m => i.memNick)
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4 text-success adj_fontsizemid font-weight-bold">
                            所在地
                        </div>
                        <div class="col-md-8 ">
                            @Html.DisplayFor(m => i.County.CountyName)
                            @Html.DisplayFor(m => i.District.DistrictName)
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4 text-success adj_fontsizemid font-weight-bold">
                            年齡
                        </div>
                        <div class="col-md-8 ">
                            @(DateTime.Now.Year - i.Birthday.Year) 歲
                        </div>
                    </div>

                    <div class="row  mt-md-4 ">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-8 text-center ml-md-3">
                            @*查看自己資訊時可編輯、查看其他會員資訊時可加入好友或黑名單*@
                            @{ if (session == i.memId)
                                {
                                    <a href="@Url.Action("Edit", new { memID = i.memId })" class="btn btn-outline-info" style="width:inherit"><i class='fas fa-edit'></i>　編輯個人資訊</a>
                                }
                                else if (!session.IsEmpty())
                                {
                        <div class="row">
                            <div class="col-md">
                                <button id="FollowBtn" class="btn btn-outline-info mb-1" style="width:inherit"><i class="fas fa-child"></i>　追蹤他</button>
                            </div>
                            <div class="col-md">
                                <button id="FriendBtn" class="btn btn-outline-info mb-1 " style="width:inherit">
                                    @if (Model.Friendship.Where(m=>m.friendMemId==session).Count() == 0)
                                    {
                                        <i class="fas fa-user-plus "></i>@:　加好友
                                    }
                                    else if (Model.Friendship.FirstOrDefault().Approved == false)
                                    {
                                        <i class="fas fa-user-times"></i>@:　取消申請
                                    }
                                    else
                                    {
                                        <i class="fas fa-user-minus"></i>@:　刪除好友
                                    }
                                </button>
                            </div>
                            <div class="col-md">
                                <a href="@Url.Action("Block","Member",new { BlockedMemID = i.memId, memID = session })" class="btn btn-outline-info mb-1" style="width:inherit;" onclick="return confirm('確定要封鎖該會員嗎？')"><i class='fas fa-ban'></i>　封鎖他</a>
                            </div>
                            <div class="col-md">
                                <a href="@Url.Action("Report","Activity",new { id=i.memId,reporterID=session})" class="btn btn-outline-danger mb-1" style="width:inherit;"><i class="fas fa-exclamation-triangle"></i>　檢舉他</a>
                            </div>
                            
                        </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="row w-100 h-50 text-center mx-auto mt-4 ">
                    <div class="col col-md-12 ">
                        <div class="row mx-auto justify-content-center" id="btnrow">
                            <div id="follow" class="col-md-2 col-sm-12 card rounded-pill  mr-md-2 mb-2 ml-sm-3  bg-color  animated bounceIn bshadow  btn-hov">
                                <div class="adj_fontsize font-weight-bold">@Model.vw_FollowUp.Count</div>
                                <div>追蹤</div>
                            </div>
                            <div id="fans" class="col-md-2 col-sm-12 card rounded-pill  mr-md-2 mb-2 ml-sm-3  bg-color animated bounceIn bshadow   btn-hov">
                                <div class="adj_fontsize font-weight-bold">@Model.vw_FansNew.Count</div>
                                <div>粉絲</div>
                            </div>
                            <div id="friend" class="col-md-2 col-sm-12 card rounded-pill  mr-md-2 mb-2 ml-sm-3  bg-color animated bounceIn bshadow   btn-hov">
                                <div class="adj_fontsize font-weight-bold">@Model.vw_FriendShip.Count</div>
                                <div>好友</div>
                            </div>

                            <div id="remark" class="col-md-2 col-sm-12 card rounded-pill  mr-md-2 mb-2 ml-sm-3  bg-color animated bounceIn bshadow btn-hov">
                                <a href="@Url.Action("Remarks", "Member", new { memID = i.memId })" class="text-decoration-none ">
                                    <div class="adj_fontsize font-weight-bold text-dark">@Model.vw_Member_Remarks.Count</div>
                                    <div class="text-dark">會員評價</div>
                                </a>
                            </div>
                            <div id="history" class="col-md-2 col-sm-12 card rounded-pill  mb-md-2 ml-sm-2 bg-color animated bounceIn bshadow   btn-hov">
                                <a href="@Url.Action("History", "Member", new { memID = i.memId })" class="text-decoration-none ">
                                    <div class="adj_fontsize font-weight-bold text-dark">@(Model.vw_HostHistory.Count + Model.vw_PartHistory.Count)</div>
                                    <div class="text-dark">揪團歷史</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 mt-4 mb-4 text-center mx-auto animated fadeInUp">
                    <div class="col-12  col-md-4 border-right mb-3 ">
                        <div class="row ">
                            <div class="adj_fontsize text-success font-weight-bold col-12 ">個人簡介</div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-break">
                                @if (i.Introduction != null && !i.Introduction.IsEmpty())
                                {

                                    @(Html.Raw(i.Introduction.Replace("\r\n", "<br />")))
                                }
                                else
                                {
                                    @:無資料
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-12  col-md-4 border-right mb-3">
                        <div class="row">
                            <div class="adj_fontsize text-success font-weight-bold col-12">興趣</div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-break">
                                @if (i.Habit != null && !i.Habit.IsEmpty())
                                {
                                    @(Html.Raw(i.Habit.Replace("\r\n", "<br />")))
                                }
                                else
                                {
                                    <div>
                                        無資料
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="row ">
                            <div class="adj_fontsize text-success font-weight-bold col-12">飲食偏好</div>
                        </div>
                        <div class="row ">
                            <div class="col-12 text-break">
                                @if (i.Dietary_Preference != null && !i.Dietary_Preference.IsEmpty())
                                {
                                    @(Html.Raw(i.Dietary_Preference.Replace("\r\n", "<br />")))
                                }
                                else
                                {
                                    @:無資料
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="min-height:500px"></div>

            //彈出視窗
            <div class="modal " id="Modal1">
                <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable animated bounceInUp">
                    <div class="modal-content ">

                        <!-- Modal Header -->
                        <div class="modal-header nav-bg text-white ">
                            <h5 class="modal-title font-weight-bold">追蹤名單</h5>
                            <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body text-center" style="height:400px">
                            @{if (Model.vw_FollowUp.FirstOrDefault() != null)
                                {
                                    var last = Model.vw_FollowUp.Last();
                                    foreach (var fol in Model.vw_FollowUp)
                                    {
                                        if (fol.Equals(last))
                                        {
                                            <div class="mb-2"><a href="@Url.Action("Info", "Member", new { memID = fol.memId })" class="text-decoration-none hvr-icon-spin hvr-icon-up text-warning"><img src="~/Photos/@(fol.Sex == "M" ? "male.png" : "female.png")" class="img-fluid " style="width:35px" />@fol.memNick<i class="material-icons   text-warning hvr-icon" style="font-size:1.05em">open_in_new</i></a></div>
                                        }
                                        else
                                        {
                                            <div class="mb-2 border-bottom p-3 border-light"><a href="@Url.Action("Info", "Member", new { memID = fol.memId })" class="text-decoration-none hvr-icon-spin hvr-icon-up text-warning"><img src="~/Photos/@(fol.Sex == "M" ? "male.png" : "female.png")" class="img-fluid " style="width:35px" />@fol.memNick<i class="material-icons   text-warning hvr-icon" style="font-size:1.05em">open_in_new</i></a></div>
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal " id="Modal2">
                <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable animated bounceInUp">
                    <div class="modal-content ">

                        <!-- Modal Header -->
                        <div class="modal-header nav-bg text-white ">
                            <h5 class="modal-title font-weight-bold">粉絲名單</h5>
                            <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body text-center" style="height:400px">
                            @{if (Model.vw_FansNew.FirstOrDefault() != null)
                                {
                                    var last = Model.vw_FansNew.Last();
                                    foreach (var fol in Model.vw_FansNew)
                                    {
                                        if (fol.Equals(last))
                                        {
                                            <div class="mb-2"><a href="@Url.Action("Info", "Member", new { memID = fol.fanMemId })" class="text-decoration-none hvr-icon-spin hvr-icon-up text-warning"><img src="~/Photos/@(fol.Sex == "M" ? "male.png" : "female.png")" class="img-fluid " style="width:35px" />@fol.memNick<i class="material-icons   text-warning hvr-icon" style="font-size:1.05em">open_in_new</i></a></div>
                                        }
                                        else
                                        {
                                            <div class="mb-2 border-bottom p-3 border-light"><a href="@Url.Action("Info", "Member", new { memID = fol.fanMemId })" class="text-decoration-none hvr-icon-spin hvr-icon-up text-warning"><img src="~/Photos/@(fol.Sex == "M" ? "male.png" : "female.png")" class="img-fluid " style="width:35px" />@fol.memNick<i class="material-icons   text-warning hvr-icon" style="font-size:1.05em">open_in_new</i></a></div>
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            if (Session["memid"].ToString() == i.memId)
            {
                <div class="modal " id="Modal3">
                    <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable animated bounceInUp">
                        <div class="modal-content ">

                            <!-- Modal Header -->
                            <div class="modal-header nav-bg text-white ">
                                <h5 class="modal-title font-weight-bold">好友名單</h5>
                                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body text-center" style="height:400px">
                                @{if (Model.vw_FriendShip.FirstOrDefault() != null)
                                    {
                                        var last = Model.vw_FriendShip.Last();
                                        foreach (var fol in Model.vw_FriendShip)
                                        {
                                            if (fol.Equals(last))
                                            {
                                                <div class="mb-2"><a href="@Url.Action("Info", "Member", new { memID = fol.friendMemId })" class="text-decoration-none hvr-icon-spin hvr-icon-up text-warning"><img src="~/Photos/@(fol.Sex == "M" ? "male.png" : "female.png")" class="img-fluid " style="width:35px" />@(fol.newNick == null ? fol.memNick : fol.newNick)<i class="material-icons   text-warning hvr-icon" style="font-size:1.05em">open_in_new</i></a></div>
                                            }
                                            else
                                            {
                                                <div class="mb-2 border-bottom p-3 border-light"><a href="@Url.Action("Info", "Member", new { memID = fol.friendMemId })" class="text-decoration-none hvr-icon-spin hvr-icon-up text-warning"><img src="~/Photos/@(fol.Sex == "M" ? "male.png" : "female.png")" class="img-fluid " style="width:35px" />@(fol.newNick == null ? fol.memNick : fol.newNick)<i class="material-icons   text-warning hvr-icon" style="font-size:1.05em">open_in_new</i></a></div>
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <img src="~/Photos/sorry.gif" class="img-fluid mt-5" />
            <h1 class="text-center text-danger mt-5">很抱歉，您無法查看此會員資訊</h1>
        }
    }
</div>
@section scripts{
    <script>
        //檢舉按鈕使用(tooltip)
        $('[data-toggle="tooltip"]').tooltip();
        //觸發追蹤、粉絲、好友的彈出視窗
        $('#follow').click(function () {
            $('#Modal1').modal('toggle');
        });
        $('#fans').click(function () {
            $('#Modal2').modal('toggle');
        });
        $('#friend').click(function () {
            $('#Modal3').modal('toggle');
        });
        //新增會員評價、揪團歷史按鈕的hover效果
        $('#remark').mouseover(function () {
            $('#remark div').removeClass('text-dark').addClass('text-white');
        });
        $('#remark').mouseout(function () {
            $('#remark div').removeClass('text-white').addClass('text-dark');
        });
        $('#history').mouseover(function () {
            $('#history div').removeClass('text-dark').addClass('text-white');
        });
        $('#history').mouseout(function () {
            $('#history div').removeClass('text-white').addClass('text-dark');
        });
        //WebAPI
        //判斷好友狀態
        function CheckFriendShip() {
            $.ajax({
                type: "Get",
                url: "http://localhost:54129/api/MemAPI?memID=" + $('#FriendID').val()+"&FriendID=@session",
                success: function (d) {
                    if (d.length == 0) {
                        $('#FriendBtn').html('<i class="fas fa-user-plus "></i>　加好友');
                    } else if (d[0].Approved == false) {
                        $('#FriendBtn').html('<i class="fas fa-user-times"></i>　取消申請');
                    } else {
                        $('#FriendBtn').html('<i class="fas fa-user-minus"></i>　刪除好友');
                    }
                }
            });
        }
        $('#FriendBtn').click(function () {
            if ($('#FriendBtn').text().includes('加好友')) {
                $.ajax({
                    type: "Post",
                    url: "http://localhost:54129/api/MemAPI?FriendID=" + $('#FriendID').val() + "&memID=" + $('#memID').val(),
                    success: function () {
                        CheckFriendShip();
                    }
                });
            } else if ($('#FriendBtn').text().includes('取消申請')) {
                $.ajax({
                    type: "Delete",
                    url: "http://localhost:54129/api/MemAPI?FriendID=" + $('#FriendID').val() + "&memID=" + $('#memID').val() + "&Cancel=false",
                    success: function () {
                        CheckFriendShip();
                    }
                });
            } else {
                if (confirm("您確定要刪除嗎？")) {
                    $.ajax({
                        type: "Delete",
                        url: "http://localhost:54129/api/MemAPI?FriendID=" + $('#FriendID').val() + "&memID=" + $('#memID').val() + "&Cancel=true",
                        success: function () {
                            CheckFriendShip();
                        }
                    });
                }
            }
        })
    </script>

}
